<div class="page-heading"><h2 class="melbourne">Forgot Your Login Service?</h2></div>

<div style="margin:35px">
	
	<div style="float:left;width:450px;padding-bottom:25px">
		
	<%= flash_messages %>

	<p>Just enter your CloudSpokes username and we'll let you know what service you use to login with.</p>

	<%= form_for :form_forgot_service, :url => "/forgot_service" do |f| %>
	<div class="field">Username: <%= f.text_field :username, :maxlength => 25 %></div>
	<div class="actions"><%= f.submit "Submit", :class => 'formsubmit' %></div>
	<% end %>
	
	<p style="padding-top:35px;padding-bottom:15px"><b style="color:red">Please note:</b> On 12/17/2011 we rolled out our new site on Heroku and migrated data to Database.com. If you having problems logging in, <a href="/login_help">please read this page</a> for more info so that we can help you out.</p>
	
	</div>
	
	<div style="float:left;width:50px">&nbsp;</div>
	
	<div style="float:left;width:350px;padding-bottom:25px">
		<% if !@login_service.nil? %>
			
			<% if @login_service.eql?('CloudSpokes')%>
				<p>CloudSpokes is managing your login. You can <%= link_to 'login with your credentials', login_path %> or <%= link_to 'request a password reset', forgot_password_path %>.</p>
				<%= image_tag "cloudspokes-logo-hor.png", :alt => 'CloudSpokes' %>
			<% else %>
				<p>Your CloudSpokes login is managed by <%= @login_service %>. Click the icon below to login using your <%= @login_service %> account.</p>
				<<% if @login_service.downcase.eql?('google')%>
					<a href="/auth/open_id?openid_url=https://www.google.com/accounts/o8/id"><%= image_tag "#{@login_service.downcase}_128.png", :size => "128x128", :alt => @login_service %></a>
				<% else %>
					<a href="/auth/<%= @login_service.downcase %>"><%= image_tag "#{@login_service.downcase}_128.png", :size => "128x128", :alt => @login_service %></a>
				<% end %>
			<% end %>	

		<% end %>
	</div>
	
	
	
</div>		
		
