<h1>Login</h1>

<%= form_for @login_form, :url => login_cs_auth_url do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Login in" %>
  </div>
<% end %>

<p><br><%= link_to 'Did you forget your password?', forgot_password_url %></p>