<!-- displays in fancy popup -->
<div id="container">
	<div id="header">
		<img src="assets/cloudspokes-logo-hor.png" height="50">
		<div id="header_right"><%= link_to 'New to CloudSpokes? Sign up now!', signup_path, :target => '_parent' %></div>
	</div>
	<div id="content">
		<h1>Login Quickly and Easily Using</h1>
		<a href="/auth/github" target="_parent" class="auth_provider"><%= image_tag "github_64.png", :size => "64x64", :alt => "GitHub" %></a>
    	<a href="/auth/twitter" target="_parent" class="auth_provider"><%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %></a>
	    <a href="/auth/facebook" target="_parent" class="auth_provider"><%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %></a>
	    <a href="/auth/openid?openid_url=https://www.google.com/accounts/o8/id" target="_parent" class="auth_provider"><%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %></a>
		<br>
	    <a href="/auth/linked_in" target="_parent" class="auth_provider"><%= image_tag "linkedin_64.png", :size => "64x64", :alt => "LinkedIn" %></a>
	    <a href="/auth/salesforce" target="_parent" class="auth_provider"><%= image_tag "salesforce_64.png", :size => "64x64", :alt => "Force.com" %></a>
	    <a href="/auth/openid" target="_parent" class="auth_provider"><%= image_tag "openid_64.png", :size => "64x64", :alt => "OpenID" %></a>

		<p style="padding-top:25px">Can't remember which service you use to login with? <%= link_to 'We can help', forgot_service_path, :target => '_parent' %>.</p>
  </div>
	<div id="sidebar">
		<p>Have a CloudSpokes username<br/> and password?</p>
		<%= flash_messages %>
		<%= form_for @login_form, :url => login_cs_auth_path, :html => { :target => '_parent' } do |f| %>
		  <div class="field">
		    <%= f.label :username %><br />
		    <%= f.text_field :username, :style => "width: 125px" %>
		  </div>
		  <div class="field">
		    <%= f.label :password %><br />
		    <%= f.password_field :password, :style => "width: 125px" %>
		  </div>
		  <div class="actions">
		    <%= f.submit "Login" %>
		  </div>
		<% end %>

		<p><%= link_to 'Forgot Password?', forgot_password_path, :target => '_parent' %></p>
		
	</div>
</div>
