<div id="container">
	<div id="header">
		<img src="assets/cloudspokes-logo-hor.png" height="50">
		<div id="header_right"><a href="/login">Existing User? Login here!</a></div>
	</div>
	<div id="content" style="padding-top:10px;width:630px">
		
		<%= flash_messages %>

		<%= form_for @reset_form,  :url => reset_password_submit_url do |f| %>
		  <div class="field">
		    <%= f.label :username %><br />
		    <%= f.text_field :username %>
		  </div>
		  <div class="field">
		    <%= f.label :passcode %><br />
		    <%= f.text_field :passcode %>
		  </div>
		  <div class="field">
		    <%= f.label :new_password %><br />
		    <%= f.password_field :new_password %>
		  </div>
		  <div class="field">
		    <%= f.label :new_password_again %><br />
		    <%= f.password_field :new_password_again %>
		  </div>
		  <div class="actions">
		    <%= f.submit "Submit" %>
		  </div>
		<% end %>
		
	</div>
	<div id="footer"></div>
</div>
