<div id="container">
	<div id="header">
		<img src="assets/cloudspokes-logo-hor.png" height="50">
		<div id="header_right"><a href="/login">Existing User? Login here!</a></div>
	</div>
	<div id="content" style="padding-top:10px;width:350px">
		
		<%= flash_messages %>
		<% if @reset_form.errors.any? %>
			<div class="error" id="flash-error">
		    <% @reset_form.errors.full_messages.each do |msg| %>  
		      <li><%= msg %></li>  
		    <% end %>
			</div>
		<% end %>
		
		<p>Enter your username, the passcode your received from the reset email and your new password to change your account's password.</p>

		<div style="padding-left:10px;">
		<%= form_for @reset_form,  :url => reset_password_submit_url do |f| %>
		  <div class="field">
		    <%= f.label :username %><br />
		    <%= f.text_field :username %>
		  </div>
		  <div class="field">
		    <%= f.label :passcode %><br />
		    <%= f.text_field :passcode %>
			<div class="hint">From the email you received.</div>
		  </div>
		  <div class="field">
		    <%= f.label :password %><br />
		    <%= f.password_field :password %>
			<div class="hint">8 characters with letters & numbers</div>
		  </div>
		  <div class="field">
		    <%= f.label :password_confirmation %><br />
		    <%= f.password_field :password_confirmation %>
		  </div>
		  <div class="actions">
		    <%= f.submit "Submit" %>
		  </div>
		<% end %>
		</div>
		
	</div>
	<div id="footer"></div>
</div>
