<div class="page-heading"><h2 class="melbourne">Complete the Signup Process</h2></div>

<div style="margin:5px">
	
	<div style="float:left; width:150px;padding-left:25px;padding-bottom:100px;padding-top:25px">
		<img src="assets/<%= @signup_complete_form.provider %>_128.png">
	</div>
	
	<div style="float:left;width:500px;;padding-top:25px">
	
		<%= flash_messages %>
		<% if @signup_complete_form.errors.any? %>
			<div class="error" id="flash-error" style="margin-top:0px">
		    <% @signup_complete_form.errors.full_messages.each do |msg| %>  
		      <li><%= msg %></li>  
		    <% end %>
			</div>
		<% end %>

		<p>Please enter your info to complete the signup process and create your account.</p>
		
		<div id="profile">
			<%= form_for @signup_complete_form, :url => signup_complete_path do |f| %>
			<%= f.hidden_field :provider %>
			<%= f.hidden_field :provider_username %>
			
			<label style="width:100px">Name:</label>
			<%= f.text_field :name, :class => 'display' %>
			<div class="spacer" style="width: 500px"></div>
		
			<label style="width:100px">* Username:</label>
			<%= f.text_field :username, :class => 'display', :maxlength => 25 %>
			<div class="spacer" style="width: 500px"></div>
		
			<label style="width:100px">* Email:</label>
			<%= f.text_field :email, :class => 'display'  %>
			<div class="spacer" style="width: 500px"></div>
			
			<div style="padding-left:105px;padding-top:5px">
			<%= f.check_box(:terms_of_service) %> I agree to the <%= link_to 'terms of service', tos_path, :target => '_blank' %>.*
			</div>
		
			<div id="button-container" style="padding-left:5px;margin-bottom:100px">
				<a class="button" onclick="document.forms[0].submit();"> <span>Submit</span></a>
			</div>
			<% end %>
		</div>

	</div>

<div>