<div class="page-heading"><h2 class="melbourne">Signup</h2></div>

<div style="margin:35px">
	
	<div style="float:left; width:575px">
		<h1 style="padding-bottom:10px">Use your existing account from...</h1>
		<a href="/auth/github" class="auth_provider"><%= image_tag "github_64.png", :size => "64x64", :alt => "GitHub" %></a>
		<a href="/auth/twitter" class="auth_provider"><%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %></a>
	    <a href="/auth/facebook" class="auth_provider"><%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %></a>
	    <a href="/auth/open_id?openid_url=https://www.google.com/accounts/o8/id" class="auth_provider"><%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %></a>
	    <!-- <a href="/auth/linked_in" class="auth_provider"><%= image_tag "linkedin_64.png", :size => "64x64", :alt => "LinkedIn" %></a>-->
	    <a href="/auth/salesforce" class="auth_provider"><%= image_tag "salesforce_64.png", :size => "64x64", :alt => "Force.com" %></a>
	    <!-- <a href="/auth/openid" class="auth_provider"><%= image_tag "open_id_64.png", :size => "64x64", :alt => "OpenID" %></a>-->
		
		<p style="padding-top:25px">Using an existing account is quick and easy. Select the account<br/>you would like to use and we'll do the rest for you.</p>
	</div>

	<div style="float:left;width:325px;">	

		<p>Or create a new account with CloudSpokes:</p>
		
		<%= flash_messages %>
		<% if @signup_form.errors.any? %>
			<div class="error" id="flash-error">
		    <% @signup_form.errors.full_messages.each do |msg| %>  
		      <li><%= msg %></li>  
		    <% end %>
			</div>
		<% end %>
		
		<%= form_for @signup_form, :url => signup_cs_create_path do |f| %>
		  <div class="field">
		    <%= f.label :username %><br />
		    <%= f.text_field :username, :maxlength => 25 %>
		  </div>
		  <div class="field">
		    <%= f.label :email %><br />
		    <%= f.text_field :email %>
		  </div>
		  <div class="field">
		    <%= f.label :password %><br />
		    <%= f.password_field :password %>
			<div class="hint">8 characters with letters & numbers</div>
		  </div>
		  <div class="field">
		    <%= f.label :password_confirmation %><br />
		    <%= f.password_field :password_confirmation %>
		  </div>
			<div style="padding-bottom:5px">
			<%= f.check_box(:terms_of_service) %> I agree to the <%= link_to 'terms of service', tos_path, :target => '_blank' %>.*
			</div>
		  <div class="actions">
		    <%= f.submit "Sign up", :class => 'formsubmit' %>
		  </div>
		<% end %>
		
		<div style="margin:25px"></div>
				
	</div>
	
	<!-- Google Code for Cloudspokes Sign-Up Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1064594833;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "Mr4GCNOhhAIQkdvR-wM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1064594833/?label=Mr4GCNOhhAIQkdvR-wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
		
</div>		

