<script type="text/javascript">
	function limitText(limitField, limitNum) {
		if (limitField.value.length > limitNum) {
			limitField.value = limitField.value.substring(0, limitNum);
			alert('Comments are limited to 255 characters.');
		}
	}
</script>	

<div class="content-wrapper left-sidebar top-border">
	<div id="account">
		<div class="sidebar fl">
      	<%= render 'accounts/menu', :selected_item => "review_questions"%> 
		</div>
		<div class="widecolumn fr">

			<h3>Review Quick Quiz Question <%= @question.name %></h3>
			<%= flash_messages %>
			
			<p style="padding-bottom:25px">Questions should contain one and only one issue and should be solved in one way only without adding or removing lines of code.  A good quiz question will focus on the core language not additional frameworks like Rails or JQuery.  Challenging questions will include misnamed function calls, logical errors or other easy to miss bugs.  It is ok to replace sections of code with underscores (___) and the fix will be to replace the underscore with the appropriate text.  For example, another good question contains an assert at the end of the problem statement and the solution will be to replace the code to make the assert accurate. Remember scoring is based on changing the <strong>LEAST</strong> number of characters.
				
				<br/><br/>Make sure you can run the code and that the outcome is what is expected. When you approve or reject a question, the author will 
				receive an email confirmation. The reviewer is not identified in the email.</p>
			
			<% if @question.errors.any? %>
				<div class="error" id="flash-error" style="margin-top:0px;">
			    <% @question.errors.full_messages.each do |msg| %>  
			      <li><%= msg %></li>  
			    <% end %>
				</div><br/>
			<% end %>
		
			<div id="profile">
			<%= form_for @question, :url => quiz_question_path(params[:id]), :method => :put do |f| %> 

				<%= f.hidden_field :type %>
				<%= f.hidden_field :id %>
				
				<label>Type:</label>
				<%= select_tag("quiz_question_form[type]", options_for_select(question_type_options, @question.type), :disabled => true, :style => 'margin: 5px 5px 5px 0px;' ) %>
				<div class="spacer"></div>
				
				<% if @question.author_comments %>
				<label>Author Comments:</label>
				<div class="holder"><%= f.text_area :author_comments, :style => "width:500px; height:50px;", :disabled => true %></div>
				<div class="spacer"></div>
				<% end %>
				
				<label>Question (with Error):</label>
				<div class="holder"><%= f.text_area :question, :style => "width:500px; height:300px;", :wrap => "off" %></div>
				<div class="spacer"></div>
				
				<label>Correct Answer:</label>
				<div class="holder"><%= f.text_area :answer, :style => "width:500px; height:300px;", :wrap => "off" %></textarea></div>
				<div class="spacer"></div>
				
				<label>Reviewer Comments:</label>
				<div class="holder"><%= f.text_area :reviewer_comments, :style => "width:500px; height:75px;", :onkeydown => "limitText(this,255)", :onkeyup => "limitText(this,255)" %></div>
				<div class="hint" style="padding-left:128px">Limit 255 characters</div>
				<div class="spacer"></div>
				
				<label>Status:</label>
				<%= select_tag("quiz_question_form[status]", options_for_select(status_options, @question.status), :style => 'margin: 5px 5px 5px 0px;' ) %>
				<div class="spacer"></div>
				
				<div id="button-container" style="padding-left:25px">
					<a class="button" onclick="document.forms[0].submit();"> <span>Submit</span></a>
				</div>
				
			<% end %>
			
			</div>
			

		</div>

	</div>
</div>