<div class="content-wrapper left-sidebar top-border">
	<div id="account">
		<div class="sidebar fl">
      	<%= render 'accounts/menu', :selected_item => "review_questions"%>
		</div>
		<div class="widecolumn fr">

			<h3>Review Quick Quiz Questions</h3>
			<%= flash_messages %>
			
			<p style="padding-bottom:25px">Members are creating quick quiz questions to stump their fellow CloudSpokers. To ensure quality of these 
				questions you can review them for accuracy before being placed in the pool of available question. <strong>We will pay $50 for each set of 
				10 approved reviewed regardless of whether you approve or reject the question.</strong> Please review the <%= link_to "FAQs", faq_path %> for additional information on payments.
				
				 <br/><br/>Questions should contain one and only one issue and should be solved in one way only without adding or removing lines of code.  A good quiz question will focus on the core language not additional frameworks like Rails or JQuery.  Challenging questions will include misnamed function calls, logical errors or other easy to miss bugs.  It is ok to replace sections of code with underscores (___) and the fix will be to replace the underscore with the appropriate text.  For example, another good question contains an assert at the end of the problem statement and the solution will be to replace the code to make the assert accurate. Remember scoring is based on changing the <strong>LEAST</strong> number of characters.
				
				<br/><br/>Make sure you can run the code and that the outcome is what is expected. When you approve or reject a question, the author will 
				receive an email confirmation. The reviewer is not identified in the email.
			
			<% if @results['records'] %>
			<table class="fancytable" id="answers" style="width:100%">
			    <thead>
			    	<tr>
						<th></th>
						<th scope="col">Question</th>
						<th scope="col">Language</th>
						<th scope="col">Status</th>
			            <th scope="col">Submitted</th>
						<th scope="col">Review</th>
			        </tr>
			    </thead>
			    <tbody>
				<% @results['records'].each do |record|%>
			    	<tr>
						<td></td>
						<td style="font-size:12px"><%= record['Name']%></td>
						<td style="font-size:12px"><%= record['Type__c']%></td>
						<td style="font-size:12px"><%= record['Status__c']%></td>
			            <td style="font-size:12px"><%= Time.parse(record['LastModifiedDate']).strftime("%b. %d, %Y at %I:%M %p")%></td>
						<td style="font-size:12px"><%= link_to "Review", edit_quiz_question_path(record['Id']) %></td>
			        </tr>
				<% end %>
			    </tbody>
			</table>
			
			<% else %>
				<%= @results['message'] %>
			<% end %>

		</div>

	</div>
</div>