<script src='<%= ENV['QUICK_QUIZ_STREAMING_URL'] %>/cometd.js' type='text/javascript'></script> 

<script type='text/javascript'>
$(function() {
  var channel = '/q/<%= @results['Id'] %>';
  var username = '<%= current_user.username %>';
  // array to hold all ids to use for dupe checks
  var ids = [];
  // create an array of answers already answered
  var existingAnswers = <%= @answers.to_json.html_safe %>;
  // connect to the cometd server
  var cometd = new Faye.Client('<%= ENV['QUICK_QUIZ_STREAMING_URL'] %>/cometd', {timeout: 120});
  cometd.disable('websocket');
  
  // load the html table with the existing answers
  for (var i = 0; i < existingAnswers.length; i++) {
	addRow(existingAnswers[i]);
  }

  // add a row to the end of the html table
  function addRow(obj) {
	// if the id is not already in the array then add it to the array and table
	if ($.inArray(obj.Id, ids) == -1) {
		$('#answers tr:last').after('<tr><td>'+ obj.Type__c +'</td><td>'+ obj.Elapsed_Time_Seconds__c +' seconds</td><td><img alt="'+ obj.Is_Correct__c +'" src="/assets/answer-'+ obj.Is_Correct__c +'.png" width="40"/></td></tr>');	
		ids.push(obj.Id);
		console.log(obj.Id + ' - added');
	} else {
		console.log(obj.Id + ' - exists');
	}
  }

  if(channel) {
    var subscription = cometd.subscribe(channel, function(message) {
      console.log(message);
      m = message.sobject;
	  // add the new row
	  addRow(m);
    });
    subscription.callback(function() {
      console.log('Subscription is now active!');
    });
    subscription.errback(function(error) {
      console.log(error.message);
    });
  }
});
</script>

<div class="page-heading"><h2 class="melbourne">Today's Results for <%= current_user.username %></h2></div>
<div class="page two-cols-bg top-border">
<!-- Content Wrapper -->
        <div class="challenge-content-wrapper">
            <!-- Widecolumn -->
            <div class="widecolumn fl dvbulletedlist">
                <!-- Challenge Information -->
                <div class="challenge-information">
	
					<% if @results['Number_of_Answers_Submitted__c'] == 10 %>
					
						<div style="float: left; width:475px">
						Thanks for playing! <strong>You got <%= @results['Number_Correct__c'] %> right in <%= @results['Display_Time__c'] %>.</strong> Tweet your results!
						<br/><br/>Don’t forget you can compete once every day, so keep coming back to improve your times, move up the leaderboard, and win cash and big-time bragging rights in the CloudSpokes March Madness challenge!	
						</div>
					
						<span style="float: right;">
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bit.ly/xg1G6c" data-text="I got <%= @results['Number_Correct__c'] %> correct answers in <%= @results['Display_Time__c'] %> on the Daily @cloudspokes QuickQuiz! Think you can beat my score?" data-size="large" data-count="none">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</span>
						<div style="clear: both;padding-bottom:25px"></div>
					
					<% else %>
					
						<div style="float: left; width:475px">
						Thanks for playing! Your answers will display as they are processed. Don't forget to tweet your results!
						<br/><br/>Don’t forget you can compete once every day, so keep coming back to improve your times, move up the leaderboard, and win cash and big-time bragging rights in the CloudSpokes March Madness challenge!	
						</div>
				
						<span style="float: right;">
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://bit.ly/xg1G6c" data-text="I just finished the March Madness @cloudspokes QuickQuiz! Think you can beat my score?" data-size="large" data-count="none">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</span>
						<div style="clear: both;padding-bottom:25px"></div>
					
					<% end %>
	
					<table class="fancytable" id="answers" style="width:100%">
					    <thead>
					    	<tr>
								<th scope="col">Language</th>
					            <th scope="col">Time</th>
								<th scope="col">Correct</th>
					        </tr>
					    </thead>
					    <tbody>
					    </tbody>
					</table>

                </div><br/><br/>
                <!-- END Challenge Information -->

            </div>
            <!-- END Widecolumn -->
            <!-- Sidebar -->
            <div class="sidebar fr">
                
				<!-- Challenge Sidebar -->
				<div class="challenge-sidebar">
					<%= render "shared/quickquiz-sidebar" %>
				</div>
				<!-- END Challenge Sidebar -->

            </div>
            <!-- END Sidebar -->
            <div class="cl">&nbsp;</div>
        </div>
        <!-- END Content Wrapper -->

</div>

