<script type="text/javascript">
$(document).ready(function(){
$(".fancyanswer").fancybox({
	 'width' : 900,
	 'height' : 625,
	 'autoScale' : false,
	 'hideOnOverlayClick' : true,
	 'type' : 'iframe',
	 'onStart': function() { $('.column iframe').css('visibility', 'hidden'); },
	 'onClosed': function() { $('.column iframe').css('visibility', 'visible'); }
 });
});
</script>

<div class="page-heading"><h2 class="melbourne">Results for <%=params[:member] %> on <%=params[:date] %></h2></div>
<div class="page two-cols-bg top-border">
<!-- Content Wrapper -->
        <div class="challenge-content-wrapper">
            <!-- Widecolumn -->
            <div class="widecolumn fl dvbulletedlist">
                <!-- Challenge Information -->
                <div class="challenge-information">
					<%= flash_messages %>

					<% if @answers.size > 0 %>	

						<table style="margin-bottom:10px">
							<tr>
								<td style="padding-right:10px"><img src="/assets/answer-false.png" width="40"/></td>
								<td>Click the red icons below to see the details of the questions that are marked as incorrect. You can only see your incorrect answers and not the answers of other members.</td>
							</tr>
						</table>
					 

						<table class="fancytable" id="answers" style="width:100%;<% if @answers.size == 0 %>visibility:hidden;<% end %>">
						    <thead>
						    	<tr>
									<th></th>
									<th scope="col">Language</th>
						            <th scope="col">Time</th>
									<th scope="col">Correct</th>
						        </tr>
						    </thead>
						    <tbody>
							<% @answers.each do |record|%>
						    	<tr>
									<td></td>
									<td style="font-size:12px"><%= record["Type__c"]%></td>
						            <td style="font-size:12px"><%= record["Display_Time__c"]%></td>
									<td style="font-size:12px">
									<% if record["Is_Correct__c"] %>
										<img src="/assets/answer-true.png" width="40"/>
									<% else %>
										<a href="/quizes/answer_by_member/<%= record["Id"] %>" class="fancyanswer"><img src="/assets/answer-false.png" width="40"/></a>
									<% end %>
						        </tr>
							<% end %>
						    </tbody>
						</table>
					
					<% end %>

                </div><br/><br/>
                <!-- END Challenge Information -->

            </div>
            <!-- END Widecolumn -->
            <!-- Sidebar -->
            <div class="sidebar fr">
                
				<!-- Challenge Sidebar -->
				<div class="challenge-sidebar">
					<%= render "shared/quickquiz-sidebar" %>
				</div>
				<!-- END Challenge Sidebar -->

            </div>
            <!-- END Sidebar -->
            <div class="cl">&nbsp;</div>
        </div>
        <!-- END Content Wrapper -->

</div>

