<script src='<%= ENV['QUICK_QUIZ_STREAMING_URL'] %>/cometd.js' type='text/javascript'></script> 

<script type='text/javascript'>
$(function() {
  var channel = '/q/*';
  var username = '<%= current_user.username %>';
  // array to hold all ids to use for dupe checks
  var ids = [];
  // create an array of answers already answered
  var existingAnswers = <%= @answers.to_json.html_safe %>;
  // connect to the cometd server
  var cometd = new Faye.Client('<%= ENV['QUICK_QUIZ_STREAMING_URL'] %>/cometd', {timeout: 120});
  cometd.disable('websocket');
  
  // load the html table with the existing answers
  for (var i = 0; i < existingAnswers.length; i++) {
	addRow(existingAnswers[i]);
  }

  // add a row to the end of the html table
  function addRow(obj) {
	// if the id is not already in the array then add it to the array and table
	if ($.inArray(obj.Id, ids) == -1) {
		$('#answers tr:last').after('<tr><td>'+ obj.Type__c +'</td><td>'+ obj.Elapsed_Time_Seconds__c +'</td><td><img alt="'+ obj.Is_Correct__c +'" src="/assets/answer-'+ obj.Is_Correct__c +'.png" width="40"/></td></tr>');	
		ids.push(obj.Id);
		console.log(obj.Id + ' - added');
	} else {
		console.log(obj.Id + ' - exists');
	}
  }

  if(channel) {
    var subscription = cometd.subscribe(channel, function(message) {
      console.log(message);
      m = message.sobject;
	  // add the new row
	  addRow(m);
    });
    subscription.callback(function() {
      console.log('Subscription is now active!');
    });
    subscription.errback(function(error) {
      console.log(error.message);
    });
  }
});
</script>

<div class="page-heading"><h2 class="melbourne">Today's Results for <%= current_user.username %></h2></div>
<div class="page two-cols-bg top-border">
<!-- Content Wrapper -->
        <div class="challenge-content-wrapper">
            <!-- Widecolumn -->
            <div class="widecolumn fl dvbulletedlist">
                <!-- Challenge Information -->
                <div class="challenge-information">
					<p>Your answers will display as they are processed.</p>
					<table class="fancytable" id="answers" style="width:100%">
					    <thead>
					    	<tr>
								<th scope="col">Language</th>
					            <th scope="col">Time</th>
								<th scope="col">Correct</th>
					        </tr>
					    </thead>
					    <tbody>
					    </tbody>
					</table>

                </div><br/><br/>
                <!-- END Challenge Information -->

            </div>
            <!-- END Widecolumn -->
            <!-- Sidebar -->
            <div class="sidebar fr">
                
				<!-- Challenge Sidebar -->
				<div class="challenge-sidebar">
					<%= render "shared/quickquiz-sidebar" %>
				</div>
				<!-- END Challenge Sidebar -->

            </div>
            <!-- END Sidebar -->
            <div class="cl">&nbsp;</div>
        </div>
        <!-- END Content Wrapper -->

</div>

