<ul>
	<li><h2><span><%= @challenge_detail["Name"] %></span></h2></li>
	<li><h3>Time Left For Submission</h3><h2><span><%= format_close_date_time(@challenge_detail['End_Date__c']) %></span></h2></li>
	<li><h3>Top Prize</h3><h2><span><%= @challenge_detail["Top_Prize__c"] %></span></h2></li>
	<li><h3>Prizes</h3>
		<ul>
			<% @challenge_detail["Challenge_Prizes__r"]["records"].each do |record| %>                
    		<li><span><%= record["Place__c"] %>. <%= record["Prize__c"] %></span><br /></li>
			<% end %>
		</ul>
	</li>
	<li><h3>Winner Announced</h3><strong><span>
	<% if @challenge_detail["Status__c"].eql?("Winner Selected") %>
		<%= link_to "View the Winners", results_path %></span></strong>
	<% else %>
		<%= Date.parse(@challenge_detail["Winner_Announced__c"]).strftime("%B %e, %Y") %>
	<% end %></span></strong></li>
		
	<% if signed_in? %>
	<li><h3>Your Status</h3><strong>
		<span><%= @participation_status[:status] %></span></strong></li>
	<% end %>

	<li style="display:block;"><h3>Participants</h3>
		<strong><span><a href="<%= registrants_path %>"><%= pluralize(@challenge_detail["Registered_Members__c"].to_i, 'Member') %> Registered or Watching</a></span></strong>
	</li>
	<% if !@challenge_detail["License__c"].nil? %>
	<li style="display:block;"><h3>License</h3>
		<strong><span><% if @challenge_detail["Release_to_Open_Source__c"] %>The results of this challenge will be released at <a href="http://www.github.com/cloudspokes" target="_blank">GitHub</a> under a <% end %><%= @challenge_detail["License__c"] %> license</span></strong>
	</li>
	<% end %>
	<li><h3>Assets</h3>
		<ul>
			<% if @challenge_detail["Attachments"].nil? %>
				<li><strong><span style="width: 300px; text-align: left">No assets found for this challenge.<br /><br /></span></strong></li>
			<% else %>
				<% @challenge_detail["Attachments"]["records"].each do |record| %>
				<li><strong><a href="https://s3.amazonaws.com/<%= ENV['AMAZON_S3_DEFAULT_BUCKET'] %>/challenges/<%= params[:id] %>/<%= record["Name"] %>" target="_blank"><%= record["Name"] %></a></strong></li>
				<% end %>
			<% end %>
		</ul>
	</li>
	<li>
		<h3>Delivery Formats</h3>
		<ul>
        HTML, Word, Google Doc, Text, RTF, Other: Upload a text document with details on
        how to retrieve your submission.
        <li><strong>HTML</strong></li>
        <li><strong>Word</strong></li>
        <li><strong>Google Doc</strong></li>
        <li><strong>Text</strong></li>
        <li><strong>RT</strong></li>
        <li><strong>Other:</strong> Upload a text document<br />with details on how to retrieve<br />your submission.</li>
		</ul>
	</li>
	<li>
		<h3>Share</h3>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like"><fb:like:layout="button_count"></fb:like></a><a class="addthis_button_tweet"></a>
            <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript">var addthis_config = { "data_track_clickback": true };</script>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=mess"></script>
        <!-- AddThis Button END -->
		<div class="cl">&nbsp;</div>
	</li>
</ul>