<ul>
	<li><h2><span><%= @challenge_detail["Name"] %></span></h2></li>
	<% if !@challenge_detail["Sponsor_Logo__c"].nil? %><li><img src="<%= @challenge_detail["Sponsor_Logo__c"] %>"></li><% end %>

	<% unless @challenge_detail['Registration_End_Date__c'].nil? || @challenge_detail["Challenge_Type__c"].eql?("Info Only - No Registration") %>
		<li><h3>Time Left For Registration</h3>
		<% if Time.parse(@challenge_detail['Registration_End_Date__c']).past? %>
			<h2><span>Registration has ended</span></h2>
		<% else %>
			<h2><span><%= format_close_date_time(@challenge_detail['Registration_End_Date__c']) %></span></h2>
		<% end %></li>
	<% end %>

	<% if Time.parse(@challenge_detail['End_Date__c']).past? && !['Created','Hidden'].include?(@challenge_detail['Status__c']) %>
		<li><h3>Status</h3><h2><span><%= @challenge_detail['Status__c'] %></span></h2></li>
	<% else %>
		<li><h3>Time Left For Submission</h3><h2><span><%= format_close_date_time(@challenge_detail['End_Date__c']) %></span></h2></li>
	<% end %>
	
	<% if signed_in? && (current_user.email? && current_user.email.include?('@appirio.com') || current_user.accountid? && current_user.accountid.eql?(@challenge_detail['Account__c'])) %>
		<!-- if an appirio member or a member assigned to the challenge sponsor, then show this link -->
		<li><h3>Admin Only</h3><strong><li>
		<span><%= link_to "View all submission files", all_submissions_path %></span><br/>
		<span><%= link_to "Score submissions", outstanding_reviews_path %></span></strong>
	<% end %>
	
	<% if @challenge_detail["Prize_Type__c"].eql?("Currency") %>
		<li><h3>Total Prize Amount</h3><h2><span><%= number_to_currency(@challenge_detail["Total_Prize_Money__c"], :precision => 0) %></span></h2></li>
	<% end %>
	
	<% if @challenge_detail["Challenge_Prizes__r"] %>
	<li><h3>Prizes</h3>
		<ul>
			<% @challenge_detail["Challenge_Prizes__r"]["records"].each do |record| %>                
    		<li><span><%= record["Place__c"].to_i.ordinalize %> <%= record["Prize__c"] %></span><br /></li>
			<% end %>
		</ul>
	</li>
	<% end %>

	<% unless @challenge_detail["Challenge_Type__c"].eql?("Race") %>
		<li><h3>End Date</h3><strong><span>
		<%= DateTime.parse(@challenge_detail["End_Date__c"]).strftime("%B %e, %Y at %I:%M%p") %>
		</span></strong></li>
	<% end %>
	
	<li><h3>Winner Announced</h3><strong><span>
	<% if @challenge_detail["Status__c"].eql?("Winner Selected") %>
		<%= link_to "View the Winners", results_path %></span></strong>
	<% elsif @challenge_detail["Status__c"].eql?("No Winner Selected") %>
		<%= link_to "View the Scorecards", results_path %></span></strong>		
	<% else %>
		<%= Date.parse(@challenge_detail["Winner_Announced__c"]).strftime("%B %e, %Y") %>
	<% end %></span></strong></li>
		
	<% unless @challenge_detail["Challenge_Type__c"].eql?("Info Only - No Registration") %>	
		<% if signed_in? %>
			<li><h3>Your Status</h3><strong><span><%= @participation_status[:status] %></span></strong></li>
		<% end %>
	<% end %>

	<% unless @challenge_detail["Challenge_Type__c"].eql?("Info Only - No Registration") %>
		<li style="display:block;"><h3>Participants</h3>
			<strong><span><%= pluralize(@challenge_detail["Participating_Members__c"].to_i, 'member') %> watching or participating</span></strong>
		</li>
	<% end %>

	<% unless @challenge_detail['License_Type__r'].nil? %>
		<li style="display:block;"><h3>License</h3>
			<strong><span>
				<%= link_to @challenge_detail['License_Type__r']['Name'], @challenge_detail['License_Type__r']['URL__c'], :target => '_blank' %>
				<% if @challenge_detail["Release_to_Open_Source__c"] %> - The results of this challenge will be<br/>released at <a href="http://www.github.com/cloudspokes" target="_blank">GitHub.</a><% end %></span></strong>
		</li>
	<% end %>

	<% unless @challenge_detail["Source_Code_URL__c"].nil? %>
		<li><h3>Source Code</h3><strong><span>	
		<a href="<%= @challenge_detail["Source_Code_URL__c"] %>" target="_blank">Source code available on GitHub</a></span></strong>
	<% end %>

	<li><h3>Assets</h3>
		<ul>
			<% if @challenge_detail["Assets__r"].nil? %>
				<li><strong><span style="width: 300px; text-align: left">No assets found for this challenge.<br /><br /></span></strong></li>
			<% else %>
				<% @challenge_detail["Assets__r"]["records"].each do |record| %>
				<li><strong><a href="https://s3.amazonaws.com/<%= ENV['AMAZON_S3_DEFAULT_BUCKET'] %>/challenges/<%= params[:id] %>/<%= record["Filename__c"] %>" target="_blank"><%= record["Filename__c"] %></a></strong></li>
				<% end %>
			<% end %>
		</ul>
	</li>
	<li>
		<h3>Delivery Formats</h3>
		<ul>
        <li><strong>HTML</strong></li>
        <li><strong>Word</strong></li>
        <li><strong>Google Doc</strong></li>
        <li><strong>Text</strong></li>
        <li><strong>RT</strong></li>
        <li><strong>Other:</strong> Upload a text document<br />with details on how to retrieve<br />your submission.</li>
		</ul>
	</li>
	<%= render "shared/share" %>
	
</ul>