<!-- Leaders -->
<div class="leaders">
<ul>
<% leaders.each do |record| %>                                        
<li class="leader"><span class="num<% if record['rank']==1 %> num-gold<% elsif record['rank']==2 %> num-silver<% elsif record['rank']==3 %> num-bronze<% end %> fl">
  <%= record['rank'] %></span>
  <div class="user-box box fl">
      <div class="box-b">
          <div class="box-t">
              <a href='#' class="fl"><img src="<%= record["profile_pic__c"] %>" <% if record['rank']==1 %>Width="48px" Height="48px"<% else %>Width="20px" Height="20px"<% end %> src="" style="border-width:0px;" /></a>
              <div class="user-info fl">
                  <span class="counter fr">
                     $<%= record["total_money"] %></span>
                  <h4><a href='#'><%= record["username__c"] %></a></h4>
                   <span class="stats"># of Wins: <%= record["numwins"] %> </span>
              </div>
              <div class="cl"></div>
          </div>
      </div>
  </div>
  <div class="cl"></div>
</li>
<% end %>                            
</ul>
</div>
<!-- END Leaders -->