<ul>
	<li><h2><span><%= @challenge_detail["Name"] %></span></h2></li>
	
	<% if @challenge_detail["Challenge_Prizes__r"] %>
	<li><h3>Daily Prizes</h3>
		<ul>
			<% @challenge_detail["Challenge_Prizes__r"]["records"].each do |record| %>                
    		<li><span><%= record["Place__c"].to_i.ordinalize %> <%= record["Prize__c"] %></span><br /></li>
			<% end %>
		</ul>
	</li>
	<% end %>
	
	<% rank = 0 %>
	<h3>Today's Leaderboard</h3>
	<div class="leaders">
	<ul>  	
	<% if @todays_results.empty? %>
		<li>No scores for today</li>  
	<% else %>
		<% @todays_results.each do |record| %>
			<% rank=rank+1%>  
			<li>                             
			<span class="num<% if rank==1 %> num-gold<% elsif rank==2 %> num-silver<% elsif rank==3 %> num-bronze<% end %> fl"><%= rank %></span>
			  <div class="user-box box fl">
			      <div class="box-b">
			          <div class="box-t">
			              <a href='<%= member_url(record["Member__r"]["Name"]) %>' target="_blank" class="fl"><img src="<%= record["Member__r"]["Profile_Pic__c"] %>" Width="20px" Height="20px" style="border-width:0px;" /></a>
			              <div class="user-info fl">
			                  <h4><a href='<%= member_url(record["Member__r"]["Name"]) %>' target="_blank"><%= record["Member__r"]["Name"] %></a></h4>
			                   <span class="stats"><%= record["Number_Correct__c"] %> correct in <%= record["Display_Time__c"] %></span>
			              </div>
			              <div class="cl"></div>
			          </div>
			      </div>
			  </div>
			  <div class="cl"></div>
			</li>
		<% end %>                         
	<% end %>
	</ul>
	</div>
	<span><%= link_to "View all leaderboards", leaderboard_quickquiz_path %></span>
	<div style="margin-bottom:30px"></div>	
		
	<%= render "share" %>
</ul>