<div class="page two-cols-bg top-border">
<!-- Content Wrapper -->
        <div class="content-wrapper">
            <!-- Widecolumn -->
            <div class="widecolumn fl dvbulletedlist">
                <!-- Challenge Information -->
                <div class="challenge-information">
                    <span style="font-size:Small;font-weight:bold;"></span>
                    <h3>Technologies</h3>
                    <div class="list-technologies">
                        <ul>
                            <table cellspacing="0" border="0" style="border-collapse:collapse;">
								<tr>
									<% @categories.each do |record| %>	
									<td><li><a href="/challenges?category=<%= record %>"><span><%= record %></span></a></li></td>
									<% end %>                                
								</tr>
							</table>
                        </ul>
                    </div>

					<% if !@challenge_detail["Description__c"].nil? %>
                    <h3>Overview</h3>
                    <p><%= raw(@challenge_detail["Description__c"])%></p>
					<% end %>

					<% if !@challenge_detail["Requirements__c"].nil? %>
                    <h3>Challenge Requirements</h3>
                    <p><%= raw(@challenge_detail["Requirements__c"]) %></p>	
					<% end %>

					<% if !@challenge_detail["Submission_Details__c"].nil? %>
                    <h3>Submission Details</h3>
                    <p><%= raw(@challenge_detail["Submission_Details__c"]) %></p>
					<% end %>

					<% if !@challenge_detail["Additional_Info__c"].nil? %>
                    <h3>Additional Info</h3>
                    <p><%= raw(@challenge_detail["Additional_Info__c"]) %></p>
					<% end %>

					<% if @challenge_detail["Is_Open__c"].eql?("true") %>
					<% if signed_in? %>
	                    <div>
						<% if @participation_status.eql?('Not Registered') %>
	                        <a class="button fl" href="<%= @challenge_detail["ID__c"] %>/register?challengeId=<%= @challenge_detail["Id"] %>">
		 					<span>Register</span></a>
	                        <a class="button fl" href="<%= @challenge_detail["ID__c"] %>/watch?challengeId=<%= @challenge_detail["Id"] %>">
							<span>Add to Watch List</span></a>    
						<% elsif @participation_status.eql?('Watching') %>
	                        <a class="button fl" href="<%= @challenge_detail["ID__c"] %>/register?challengeId=<%= @challenge_detail["Id"] %>&current_status=Watching">
		 					<span>Register</span></a>
						<% elsif @participation_status.eql?('Registered') %>
	                        <a class="button fl" href="<%= @challenge_detail["ID__c"] %>/submission">
							<span>Submit Your Entry</span></a>
						<% end %>                    
	                    </div>
					<% else %>
 	                   <div>
	                        <h3><span>Register or Login to submit for the contest</span></h3>
	                        <a class="button fl" href="<%= @challenge_detail["ID__c"] %>/register"> <span>Register</span></a>
	                        <a class="button fl" href="/login"> <span>Login</span></a>                        
	                    </div>
					<% end %>
					<% end %>

                </div>

                <!-- END Challenge Information -->
            </div>
            <!-- END Widecolumn -->
            <!-- Sidebar -->
            <div class="sidebar fr">
                
				<!-- Challenge Sidebar -->
				<div class="challenge-sidebar">
				<%= render "challenge-sidebar" %>
				</div>
				<!-- END Challenge Sidebar -->

            </div>
            <!-- END Sidebar -->
            <div class="cl">&nbsp;</div>
        </div>
        <!-- END Content Wrapper -->
</div>
