	<div class="page-heading"><h2 class="melbourne">Challenges</h2></div>
        <div class="page">
            <div class="categories">
				<table cellspacing="0" border="0" style="border-collapse:collapse;">
					<tr>
						<% @categories.each do |record| %>
						<td><li class="active"><a href="/challenges?category=<%= record['Name']%>">
							<span class="<% if params[:category].eql?(record['Name']) %>category-selected<% else %><%= record['Color__c']%><% end %>"><%= record['Name'] %></span></a></li></td>
						<% end %>
						<td><li class="active"><a href="/challenges" class="category-selected">
							<span class="<% if params[:category] %>black<% else %>category-selected<% end %>">all</span></a></li></td>
					</tr>
				</table>
            </div>
        <!-- END Page heading -->
        <!-- Help Nav -->
        <div class="help-nav" style="margin-right: -20px">
            <!-- Sort -->
            <div class="sort fl">
                <ul>
                    <li>SORT BY</li>
                    <li><%= current_link :orderby, 'name', 'title', :show, :class => 'ddasc', :default => true %></li>
                    <li><a  href="#">type</a></li>
                    <li><%= current_link :orderby, 'end_date__c', 'due', :show %></li>
                    <li><%= current_link :orderby, 'start_date__c', 'start date', :show %></li>
                </ul>
            </div>
            <!-- END Sort -->
            <!-- Sort -->
            <div class="sort fl">
                <ul>
                    <li>SHOW</li>
                    <li><%= current_link :show, 'open', 'open', :orderby, :default => true %></li>
                    <li><%= current_link :show, 'closed', 'closed', :orderby %></li>
                </ul>
            </div>
            <!-- END Sort -->
            <!-- Search -->
            <div id="search">
                <fieldset>
					<form method="get" action="/challenges">
                    <input type="text" class="field blink" title="search challenges" value="search challenges" name="keyword"/>
                    <input type="submit" value="" class="submit notext" />
					</form>
                </fieldset>
            </div>
            <!-- END Search -->
        </div>
        <!-- END Help Nav -->
        <!-- Content Wrapper -->
        <div class="challenge-content-wrapper">
            <!-- List Challenges -->
            <div class="list-challenges full-width-challenges">
                <!-- Box -->
                <%= flash_messages %>
                <div>
				<% if @challenges.nil? %>
					<div style="text-align:center;padding:50px"><b> No challenges found! </b></div>
				<% else %>
					<% @challenges.each do |record| %>
		                <div class="box">
		                    <div class="box-b">
		                        <div class="box-t">
		                            <div class="col-left fl">
		                                <h4><%= link_to "#{record["Name"]}", challenge_url(record['ID__c']) %></h4>
		                                <p><%= truncate(record["Description__c"].gsub(/<\/?[^>]*>/, ""), :length => 300, :separator => ' ') %></p>
		                            </div>
		                            <div class="col-right fr">
		                                <p>
		                                    <strong><%= record["Top_Prize__c"] %>&nbsp;<%= category_display(record['Challenge_Categories__r']) %></strong>
		                                    <br />
		                                    <span><%= format_close_date(record['End_Date__c']) %> for </span>
		                                    <br />
											<%= link_to pluralize(record["Registered_Members__c"], 'registered member'), registrants_url(record['ID__c']) %>
											<% if !record["License__c"].nil? %>
		                                    	<br /><span><%= record["License__c"] %> license
											<% end %>
											</p>
		                            </div>
		                            <div class="cl"></div>
		                        </div>
		                    </div>
		                </div>
					<% end %>
				<% end %>
                </div>
                    
                <% if !@challenges.nil? %>
	                <div class="paging fr">
	                    <p class="fr">
	                        <%= will_paginate @challenges %>
	                    </p>
	                </div>
				<% end %>
                <a href="contests.rss" class="get-rss fl">Get RSS for thisSet</a>
                <div class="cl">&nbsp;</div>
            </div>
        </div>
    </div>
