	<div class="page-heading"><h2 class="melbourne">Challenges</h2></div>
        <div class="page">
            <div class="categories">
				<table cellspacing="0" border="0" style="border-collapse:collapse;">
					<tr>
						<% @categories.each do |record| %>
						<td><li class="active"><a href="/challenges?category=<%= record['Name']%><% if params[:show]%>&show=<%= params[:show]%><% end %>">
							<span class="<% if params[:category].eql?(record['Name']) %>category-selected<% else %><%= record['Color__c']%><% end %>"><%= record['Name'] %></span></a></li></td>
						<% end %>
						<td><li class="active"><a href="/challenges" class="category-selected">
							<span class="<% if params[:category] %>black<% else %>category-selected<% end %>">all</span></a></li></td>
					</tr>
				</table>
            </div>
        <!-- END Page heading -->
        <!-- Help Nav -->
        <div class="help-nav" style="margin-right: -20px">
            <!-- Sort -->
            <div class="sort fl">
                <ul>
                    <li>SORT BY</li>
                    <li><%= current_link @current_order_by, @current_order_by_dir, :orderby, 'name', 'title', :show, :default => true %></li>
                    <li><%= current_link @current_order_by, @current_order_by_dir,:orderby, 'end_date__c', 'due', :show %></li>
                    <li><%= current_link @current_order_by, @current_order_by_dir,:orderby, 'start_date__c', 'start date', :show %></li>
                </ul>
            </div>
            <!-- END Sort -->
            <!-- Sort -->
            <div class="sort fl">
                <ul>
                    <li>SHOW</li>
                    <li><%= current_link '', '', :show, 'open', 'open', :orderby, :default => true %></li>
                    <li><%= current_link '', '', :show, 'closed', 'closed', :orderby %></li>
                </ul>
            </div>
            <!-- END Sort -->
            <!-- Search -->
            <div id="search">
                <fieldset>
					<form method="get" action="/challenges">
                    <input type="text" class="field blink challenges-search" title="search challenges" value="<% if params[:keyword] %><%= params[:keyword] %><% else %>search challenges<% end %>" name="keyword"/>
                    <input type="submit" value="" class="submit notext" />
					</form>
                </fieldset>
            </div>
            <!-- END Search -->
        </div>
        <!-- END Help Nav -->
        <!-- Content Wrapper -->
        <div class="challenge-content-wrapper">
            <!-- List Challenges -->
            <div class="list-challenges full-width-challenges">
                <!-- Box -->
                <div>
				<% if !@challenges_found %>
					<div style="text-align:center;padding:10px">
						<%= flash_messages %>
					</div>
				<% else %>
					<% @challenges.each do |record| %>
		                <div class="box">
		                    <div class="box-b">
		                        <div class="box-t">
		                            <div class="col-left fl">
		                                <h4><%= link_to "#{record["Name"]}", challenge_url(record['Challenge_Id__c']) %></h4>
		                                <p><%= raw(truncate(record["Description__c"].gsub(/<\/?[^>]*>/, ""), :length => 300, :separator => ' ')) %></p>
		                            </div>
		                            <div class="col-right fr">
		                                <p>
		                                    <strong><%= number_to_currency(record["Total_Prize_Money__c"], :precision => 0) %>&nbsp;<%= category_display(record['Challenge_Categories__r']) %></strong><br />

		                                    <span><%= format_close_date(record['End_Date__c']) %> for </span><br />

		                                    <% if record['Community__c'] %><%= link_to "#{record['Community__r']['Name']} Community", community_url(record['Community__r']['Name'].downcase) %><br/><% end %>
																				<%= pluralize(record["Participating_Members__c"], 'member') %> participating with <%= record["Registered_Members__c"].to_i %> registered
																				</p>

																				<p style="margin-top:5px"><%= image_tag("type-"+record['Challenge_Type__c'].downcase+".png", :height => "18", :alt => record['Challenge_Type__c'].upcase) %></p>
		                            </div>
		                            <div class="cl"></div>
		                        </div>
		                    </div>
		                </div>
					<% end %>
				<% end %>
                </div>
                    
                <% if !@challenges.nil? %>
	                <div class="paging fr">
	                    <p class="fr">
	                        <%= will_paginate @challenges %>
	                    </p>
	                </div>
	    			<br><%= link_to 'Subscribe to the feed for this set of challenges', feed_path(:category => params[:category], :show => params[:show]), :class => 'get-rss fl' %>
				<% end %>
            </div>
        </div>
    </div>
