        <div class="page">
            <h1 id="heading">Challenges</h1>
            <div class="categories">
				<table cellspacing="0" border="0" style="border-collapse:collapse;">
					<tr>
						<td><li class="active"><a href="/challenges?category=Salesforce.com"><span class="brown">Salesforce.com</span></a></li></td>
						<td><li class="active"><a href="/challenges?category=Google"><span class="blue">Google</span></a></li></td>
						<td><li class="active"><a href="/challenges?category=AWS"><span class="pink">AWS</span></a></li></td>
						<td><li class="active"><a href="/challenges?category=Heroku"><span class="yellow">Heroku</span></a></li></td>
						<td><li class="active"><a href="/challenges?category=Mobile"><span class="light-blue">Mobile</span></a></li></td>
						<td><li class="active"><a href="/challenges?category=Twilio"><span class="red">Twilio</span></a></li></td>
						<td><li class="active"><a href="/challenges?category=Other"><span class="purple">Other</span></a></li></td>
						<td><li class="active"><a href="/challenges?category=Java"><span class="brown">Java</span></a></li></td>
						<td><li class="active"><a href="/challenges?category=Ruby"><span class="red">Ruby</span></a></li></td>
						<td><li class="active"><a href="/challenges?category=Cloud Foundry"><span class="green">Cloud Foundry</span></a></li></td>
						<td><li class="active"><a href="/challenges" class="category-selected"><span class="category-selected">all</span></a></li></td>
					</tr>
				</table>
            </div>
        <!-- END Page heading -->
        <!-- Help Nav -->
        <div class="help-nav">
            <!-- Sort -->
            <div class="sort fl">
                <ul>
                    <li>SORT BY</li>
                    <li><a class="ddasc" href="/challenges?orderby=name">title</a></li>
                    <li><a  href="#">type</a></li>
                    <li><a href="/challenges?orderby=end_date__c">due</a></li>
                    <li><a href="/challenges?orderby=start_date__c">start date</a></li>
                </ul>
            </div>
            <!-- END Sort -->
            <!-- Sort -->
            <div class="sort fl">
                <ul>
                    <li>SHOW</li>
                    <li><a href="/challenges?show=open" class="active">open</a></li>
                    <li><a href="/challenges?show=closed">closed</a></li>
                </ul>
            </div>
            <!-- END Sort -->
            <!-- Search -->
            <div id="search">
                <fieldset>
					<form method="get" action="/challenges">
                    <input type="text" class="field blink" title="search challenges" value="search challenges" name="keyword"/>
                    <input type="submit" value="" class="submit notext" />
					</form>
                </fieldset>
            </div>
            <!-- END Search -->
        </div>
        <!-- END Help Nav -->
        <!-- Content Wrapper -->
        <div class="challenge-content-wrapper">
            <!-- List Challenges -->
            <div class="list-challenges full-width-challenges">
                <!-- Box -->
                <%= flash_messages %>
                <div>
				<% if @challenges.nil? %>
					<div style="text-align: center; padding:50px"><b> No open challenges found! </b></div>
				<% else %>
					<% @challenges.each do |record| %>
		                <div class="box">
		                    <div class="box-b">
		                        <div class="box-t">
		                            <div class="col-left fl">
		                                <h4><%= link_to "#{record["Name"]}", "/challenges/#{record['ID__c']}" %></h4>
		                                <p><%= record["Description__c"].gsub(/<\/?[^>]*>/, "")[0..200] %>...</p>
		                            </div>
		                            <div class="col-right fr">
		                                <p>
		                                    <strong><%= record["Top_Prize__c"] %>&nbsp;<%= category_display(record['Challenge_Categories__r']) %></strong>
		                                    <br />
		                                    <span><%= format_close_date(record['End_Date__c']) %> for </span>
		                                    <!--<a href="Profile.aspx?username=jeffdonthemic">
		                                        jeffdonthemic</a>-->
		                                    <br />
											<%= link_to "#{record["Registered_Members__c"]} registered members", "/challenges/#{record['ID__c']}/registrants" %>
		                                    <br />
		                                    <span><a href='' target="_blank"> </a></span></p>
		                            </div>
		                            <div class="cl"></div>
		                        </div>
		                    </div>
		                </div>
					<% end %>
				<% end %>
                </div>
                    
                
                <div class="paging fr">
                    <p class="fr">
                        <%= will_paginate @challenges %>
                    </p>
                </div>
                <a href="contests.rss" class="get-rss fl">Get RSS for this
                    Set</a>
                <div class="cl">
                    &nbsp;</div>
            </div>
        </div>
    </div>
