        <div class="page">
            <h1 id="heading">
                Leaderboards</h1>
        
        <!-- Content Wrapper -->
        <div class="challenge-content-wrapper ">
        <h4><span></span></h4>

            <!-- Leaderboards -->
            <div id="leaderboards">
                <!-- Columns -->
                <div class="columns">
                    <div class="column">
                        <h3>This Month</h3>
                        <%= render :partial => "leaderboard", :locals => { :leaders => @this_month_leaders } %>
                        <p class="ac">
                            <%= will_paginate @this_month_leaders, :param_name => :page_month %>
                        </p>
                    </div>

                    <div class="column column-middle">
                        <h3>This Year</h3>
                        <%= render :partial => "leaderboard", :locals => { :leaders => @this_year_leaders } %>
                        <p class="ac">
                            <%= will_paginate @this_year_leaders, :param_name => :page_year %>
                        </p>
                    </div>

                    <div class="column">
                        <h3>All Time</h3>
                        <%= render :partial => "leaderboard", :locals => { :leaders => @all_time_leaders } %>
                        <p class="ac">
                            <%= will_paginate @all_time_leaders, :param_name => :page_all %>
                        </p>
                    </div>

                    <div class="cl">&nbsp;</div>
                </div>
                <!-- END Columns -->
                <div class="cl">&nbsp;</div>
            </div>
            <!-- END Leaderboards -->
        </div>

        <!-- END Content Wrapper -->
    </div>
