<div class="page two-cols-bg top-border">
<!-- Content Wrapper -->
        <div class="challenge-content-wrapper">
            <!-- Widecolumn -->
            <div class="widecolumn fl dvbulletedlist">
                <!-- Challenge Information -->
                <div class="challenge-information">
                    <span style="font-size:Small;font-weight:bold;"></span>
                    <h3>Technologies</h3>
                    <div class="list-technologies">
                        <ul>
							<% if @challenge_detail["Challenge_Categories__r"] %>
    	                        <table cellspacing="0" border="0" style="border-collapse:collapse;">
									<tr>
										<% @challenge_detail["Challenge_Categories__r"]["records"].each do |record| %> 
										<td><li><a href="/challenges?category=<%= record["Display_Name__c"] %>"><span><%= record["Display_Name__c"] %></span></a></li></td>
										<% end %>                                
									</tr>
								</table>
							<% else %>
	                           <table cellspacing="0" border="0" style="border-collapse:collapse;">
									<tr>
										<td><li><span>No Technologies Selected</span></li></td>                         
									</tr>
								</table>
							<% end %>
                        </ul>
                    </div>

					<%= flash_messages %>

					<% if !@challenge_detail["Description__c"].nil? %>
                    	<h3>Overview</h3>
                    	<p><%= raw(@challenge_detail["Description__c"])%></p>
					<% end %>

					<% if !@challenge_detail["Requirements__c"].nil? %>
                    	<h3>Challenge Requirements</h3>
                    	<p><%= raw(@challenge_detail["Requirements__c"]) %></p>	
					<% end %>

                    <h3>Submission Details</h3>
					<% if !@challenge_detail["Submission_Details__c"].nil? %>
                    	<p><%= raw(@challenge_detail["Submission_Details__c"]) %></p>
					<% end %>
					<p>Your submission will be judged by a panel of peers based upon <%= link_to 'this criteria', scorecard_display_url(@challenge_detail["Challenge_Id__c"]) %>.</p> 

					<% if !@challenge_detail["Additional_Info__c"].nil? %>
                    	<h3>Additional Info</h3>
                    	<p><%= raw(@challenge_detail["Additional_Info__c"]) %></p>
					<% end %>

                </div><br/><br/>

                <!-- END Challenge Information -->

                <!-- Discussion -->
				<!-- don't show the discussion board -->
                <!-- END Discussion -->


            </div>
            <!-- END Widecolumn -->
            <!-- Sidebar -->
            <div class="sidebar fr">
                
				<!-- Challenge Sidebar -->
				<div class="challenge-sidebar">
				<%= render "challenge-sidebar-preview" %>
				</div>
				<!-- END Challenge Sidebar -->

            </div>
            <!-- END Sidebar -->
            <div class="cl">&nbsp;</div>
        </div>
        <!-- END Content Wrapper -->
</div>
