<div class="page-heading"><h2 class="melbourne">Recently Completed Challenges</h2></div>
    <div class="page">
    <!-- Content Wrapper -->
    <div class="challenge-content-wrapper">
        <!-- List Challenges -->
        <div class="list-challenges full-width-challenges">
            <!-- Box -->
            <%= flash_messages %>
            <div>
			<% @challenges.each do |record| %>
                <div class="box">
                    <div class="box-b">
                        <div class="box-t">
                            <div class="col-left fl">
                                <h4><%= link_to "#{record["Name"]}", challenge_url(record["Challenge_Id__c"]) %></h4>
                                <p><%= truncate(record["Description__c"].gsub(/<\/?[^>]*>/, ""), :length => 500, :separator => ' ') %></p>
                            </div>
                            <div class="col-right fr">
                                <p>
									<%= Time.parse(record["End_Date__c"]).strftime("%b. %d, %Y") %>
									<br/><strong>Top Prize: <%= record["Top_Prize__c"] %></strong>
									<br/><span><%= category_display(record['Challenge_Categories__r']) %></span>
									<br/><span><%= pluralize(record["Challenge_Participants__r"]["totalSize"], 'Participant') %> &middot; <%= link_to "View the Winners", results_url(record['Challenge_Id__c']) %></span>
									<% if !record["License__c"].nil? %>
										<br/><span><%= record["License__c"] %> license</span>
									<% end %>
									<% if !record["Blog_URL__c"].nil? %>
										<br/><span><a href="<%= record["Blog_URL__c"] %>">Read the blog post</a></span>
									<% end %>
									<% if !record["Source_Code_URL__c"].nil? %>
										<br/><span><a href="<%= record["Source_Code_URL__c"] %>">Source code available on GitHub</a></span>
									<% end %>
								</p>
                            </div>
                            <div class="cl"></div>
                        </div>
                    </div>
                </div>
			<% end %>
            </div>
        </div>
    </div>
</div>
