<div class="page two-cols-bg top-border">
<!-- Content Wrapper -->
        <div class="challenge-content-wrapper">
            <!-- Widecolumn -->
            <div class="widecolumn fl">
                <!-- Challenge Registrants -->
                <span></span>
				<p><%= link_to "Back", challenge_path %></p>
				<%= flash_messages %>
				<% if @registrants.size == 0 %>
					<div style="text-align: center; padding:50px"><b> No registrants for this challenge at this time.</b></div>
				<% else %>
					<h3>Registrants</h3>
					<!-- List Members -->
	                <div class="list-members">
						<% @registrants.each do |record| %>
						<div class="box">
							<div class="box-b">
								<div class="box-t">
									<div class="user-info fl">
	                             		<a href='/members/'><img class="member-pic" src="<%= record["Member__r"]["Profile_Pic__c"] %>" style="height:48px;width:48px;border-width:0px;" /></a>
										<div class="text-holder">
											<h4><a href='/members/<%= record["Member__r"]["Name"] %>'><%= record["Member__r"]["Name"] %></a></h4>
											<span class="stats"># of Wins: <%= record["Member__r"]["Total_Wins__c"] %></span>
										</div>
										<div class="cl"></div>
									</div>
									<div class="user-desc fr">
										<%= record["Member__r"]["Summary_Bio__c"] %>
										<a href='/members/<%= record["Member__r"]["Name"] %>'>View Profile</a></p>
									</div>
									<div class="cl"></div>
								</div>
							</div>
						</div>
						<% end %>                     
                        
	                    <div class="cl"></div>
	                    <!-- Paging -->
	                    <!--
	                    <div class="paging">
	                        <p class="ar">
							<span><span class="selected">1</span>&nbsp;<a href="javascript:__doPostBack(&#39;ctl00$Body$DataPagerMembers$ctl00$ctl01&#39;,&#39;&#39;)">2</a>&nbsp;</span></p>
	                    </div>-->
	                    <!-- END Paging -->
	                </div>
					
				<% end %>
                <!-- END List Members -->


                <!-- END Challenge Registrants -->
            </div>
            <!-- END Widecolumn -->
            <!-- Sidebar -->
            <div class="sidebar fr">
                
				<!-- Challenge Sidebar -->
				<div class="challenge-sidebar">
				<%= render "challenge-sidebar" %>
				</div>
				<!-- END Challenge Sidebar -->

            </div>
            <!-- END Sidebar -->
            <div class="cl">&nbsp;</div>
        </div>
        <!-- END Content Wrapper -->
</div>
