<div class="page two-cols-bg top-border">
<!-- Content Wrapper -->
        <div class="challenge-content-wrapper">
            <!-- Widecolumn -->
            <div class="widecolumn fl">
                <!-- Terms -->
                <span></span>
				<p><%= link_to "Back to Challenge Details", challenge_path %></p>
				<%= flash_messages %>
				<h3>Challenge Terms and Conditions</h3>
				<p>You must agree to the terms and conditions of this challenge before competing.</p>
				<%= raw(@terms['Terms__c']) %>
				
				<p><br/><a href="<%= agree_tos_path %>" class="button"><span>Agree & Register</span></a></p>

                <!-- END Terms-->
            </div>
            <!-- END Widecolumn -->
            <!-- Sidebar -->
            <div class="sidebar fr">
                
				<!-- Challenge Sidebar -->
				<div class="challenge-sidebar">
				<%= render "challenge-sidebar" %>
				</div>
				<!-- END Challenge Sidebar -->

            </div>
            <!-- END Sidebar -->
            <div class="cl">&nbsp;</div>
        </div>
        <!-- END Content Wrapper -->
</div>
