<div class="page two-cols-bg top-border">
<!-- Content Wrapper -->
        <div class="challenge-content-wrapper">
            <!-- Widecolumn -->
            <div class="widecolumn fl dvbulletedlist">
                <!-- Challenge Information -->
                <div class="challenge-information">
                    <span style="font-size:Small;font-weight:bold;"></span>
                    <h3>Technologies</h3>
                    <div class="list-technologies">
                        <ul>
                            <table cellspacing="0" border="0" style="border-collapse:collapse;">
														<tr>
															<% @challenge_detail["Challenge_Categories__r"]["records"].each do |record| %> 
															<td><li><a href="/challenges?category=<%= record["Display_Name__c"] %>"><span><%= record["Display_Name__c"] %></span></a></li></td>
															<% end %>                                
														</tr>
													</table>
                        </ul>
										</div>

					<%= flash_messages %>

					<% if @challenge_detail["Community__r"] %>
						<% unless @challenge_detail['Community__r']['Name'].eql?('Private Challenges') %>
							<h3><%= @challenge_detail['Community__r']['Name'] %> Community</h3>
							<p>This is a private challenge for members of the <%= link_to "#{@challenge_detail['Community__r']['Name']} Community", community_url(@challenge_detail['Community__r']['Community_Id__c'].downcase) %>.</p>
						<% end %>
					<% end %>

					<% unless @challenge_detail["Description__c"].nil? %>
						<h3>Overview</h3>
						<p><%= raw(@challenge_detail["Description__c"])%></p>
					<% end %>

					<% unless @challenge_detail["Requirements__c"].nil? %>
						<h3>Challenge Requirements</h3>
						<p><%= raw(@challenge_detail["Requirements__c"]) %></p>	
					<% end %>

					<h3>Submission Details</h3>
					<% if !@challenge_detail["Submission_Details__c"].nil? %>
						<p><%= raw(@challenge_detail["Submission_Details__c"]) %></p>
					<% end %>

					<% if @challenge_detail['Challenge_Type__c'].eql?('Task') %>
						<%= image_tag("type-task.png", :align => :left, :style => "padding-right:10px;padding-top:10px")%>
						<p style="margin-top:7px"> This challenge is a first to finish task! We will judge the submissions in the order in which we receive them. If the first submission passes review the participant will be declared the winner. If the submission does not pass review, we will judge the next person's code and so on, until we either declare a winning submission or exhaust all submissions. We will only pay first place prize money. We will post a message to the discussion board each time a member submits. Feel free to submit even if other members have submitted before you. Their submissions may not pass. <strong>There are currently <%= pluralize(@challenge_detail['Submissions__c'], 'submission') %> for this challenge.</strong></p> 
						<div style="clear: both;"></div>
					<% end %>

					<% if ['Code','Task','Design','Hackathon'].include?(@challenge_detail['Challenge_Type__c']) %>
						<p>Your submission will be judged by a panel of peers based upon <%= link_to 'this criteria', scorecard_display_url(@challenge_detail["Challenge_Id__c"]) %>.  If you 
							would like to request an extension, please read <a href="http://community.cloudspokes.com/cloudspokes/topics/can_challenge_deadlines_be_extended_for_more_time">Can challenge deadlines be extended for more time?</a> on our FAQ. We do not want to grant extensions 
							unless there is a valid reason.</p> 
					<% end %>

					<% unless @challenge_detail["Additional_Info__c"].nil? %>
						<h3>Additional Info</h3>
						<p><%= raw(@challenge_detail["Additional_Info__c"]) %></p>
					<% end %>
										
					<!-- show if they are registered or submitted and signed in -->
					<% if signed_in? %>
						<% if !@challenge_detail["Post_Reg_Info__c"].nil? && @participation_status[:status].eql?('Registered') || @participation_status[:status].eql?('Submitted') %>
							<p><%= raw(@challenge_detail["Post_Reg_Info__c"]) %></p>
						<% end %>
					<% end %>

					<% unless @challenge_detail["Challenge_Type__c"].eql?("Info Only - No Registration") %>
						<% if @challenge_detail["Is_Open__c"].eql?("true") %>
							<% if signed_in? %>
								<div>
								<% if @participation_status[:status].eql?('Not Registered') && !closed_for_registration? %>
									<div style="padding-bottom:15px">Registering for a challenge will allow you to receive all comments posted to the discussion board, plus <b>skip the captcha</b> if you have submitted a passing solutions for at least one challenge. We may also periodically contact registered members to provide them with challenge specific information, obtain feedback or additional input. You are not obligated to submit an entry however, we highly recommend that you register for this challenge if you have any interested in participating or would simply like to stay informed.</div>
									<a class="button fl" href="<%= register_url(@challenge_detail["Challenge_Id__c"]) %>"><span>Register</span></a>
									<a class="button fl" href="<%= watch_url(@challenge_detail["Challenge_Id__c"]) %>"><span>Add to Watch List</span></a>    
								<% elsif @participation_status[:status].eql?('Watching') && !closed_for_registration? %>
									<div style="padding-bottom:15px">Being registered for a challenge will allow you to receive all comments posted to the discussion board plus we may periodically
									contact registered members to provide them with challenge specific information, obtain feedback or additional input. You are not obligated to submit an entry.</div>
									<a class="button fl" href="<%= register_url(@challenge_detail["Challenge_Id__c"]) %>"><span>Register</span></a>
								<% elsif @participation_status[:status].eql?('Registered') || @participation_status[:status].eql?('Submitted') %>
									<a class="button fl" href="<%= submission_url(@challenge_detail["Challenge_Id__c"]) %>"><span>Submit Your Entry</span></a>
								<% end %>                    
								</div>
							<% else %>
								<div>
								  <h3><span>Please login to submit for this challenge</span></h3>
								  <a class="button fl fancy" href="/login_popup"> <span>Login</span></a>                    
								</div>
							<% end %>
						<% else %>
							<% if signed_in? && @participation_status[:status].eql?('Submitted')%>
								<a class="button fl" href="<%= submission_view_only_url(@challenge_detail["Challenge_Id__c"]) %>"><span>View Your Submission</span></a>
							<% end %>
						<% end %>
					<% end %>

					</div><br/><br/>

					<!-- END Challenge Information -->

					<!-- Discussion -->
					<%= render "shared/discussion_board" %>
					<!-- END Discussion -->


					</div>
					<!-- END Widecolumn -->
					<!-- Sidebar -->
					<div class="sidebar fr">
                
				<!-- Challenge Sidebar -->
				<div class="challenge-sidebar">
				<%= render "challenge-sidebar" %>
				</div>
				<!-- END Challenge Sidebar -->

            </div>
            <!-- END Sidebar -->
            <div class="cl">&nbsp;</div>
        </div>
        <!-- END Content Wrapper -->
</div>
