
<h1>Account Details</h1>

<p>Sometimes we need to send you stuff. Like award money. So keep your contact info up to date so we can get in touch! We promise to never ever use your information for evil (unless we have your permission).</p>

<%= form_tag :controller => "account", :action => "save", :method => "post" do %>

	<div class="field">
	<%= label_tag(:name, "Username") %>
	<%= @member[0]['Name'] %>
	</div>

  <div class="field">
  <%= label_tag(:first_name__c, "First Name") %>
  <%= text_field_tag("data[#{:first_name__c}]", @member[0]['First_Name__c']) %>
  </div>

  <div class="field">
  <%= label_tag(:last_name__c, "Last Name") %>
  <%= text_field_tag("data[#{:last_name__c}]", @member[0]['Last_Name__c']) %>
  </div>

  <div class="field">
  <%= label_tag(:email__c, "Email") %>
  <%= text_field_tag("data[#{:email__c}]", @member[0]['Email__c']) %>
  </div>

  <div class="field">
  <%= label_tag(:address_line1__c, "Address") %>
  <%= text_field_tag("data[#{:address_line1__c}]", @member[0]['Address_Line1__c']) %>
  </div>

  <div class="field">
  <%= label_tag(:address_line2__c, "Address 2") %>
  <%= text_field_tag("data[#{:address_line2__c}]", @member[0]['Address_Line2__c']) %>
  </div>

  <div class="field">
  <%= label_tag(:city__c, "City") %>
  <%= text_field_tag("data[#{:city__c}]", @member[0]['City__c']) %>
  </div>

  <div class="field">
  <%= label_tag(:state__c, "State") %>
  <%= text_field_tag("data[#{:state__c}]", @member[0]['State__c']) %>
  </div>

  <div class="field">
  <%= label_tag(:zip__c, "Zip") %>
  <%= text_field_tag("data[#{:zip__c}]", @member[0]['Zip__c']) %>
  </div>

  <div class="field">
  <%= label_tag(:phone_mobile__c, "Main Phone") %>
  <%= text_field_tag("data[#{:phone_mobile__c}]", @member[0]['Phone_Mobile__c']) %>
  </div>

  <%= submit_tag("Submit") %>
<% end %>