<div class='page'>
  <h1 id='heading'>Contact Us</h1>

<%= form_for @contact_form,  :url => contact_send_url do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.text_area :content, :rows => 7, :columns => 400 %>
  </div>
  <div class="actions">
    <%= f.submit "Send" %>
  </div>
<% end %>

</div>
