<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="0b5UAqY-jFcSFdwuJOMT6arbK7RxdSzR-utYf1Pe6_k" />
  <meta name="Description" content="With 30K members and over $300,000 in developer contest prizes awarded, CloudSpokes is the Industry's first Cross-Cloud Development Community. CloudSpokes was created as an independent crowdsourcing development community and marketplace that matches companies who need cloud development work with a worldwide community of cloud experts. The focus for CloudSpokes is solely on using public cloud platforms to build and deliver enterprise-class solutions. The flexibility of cloud platforms has created a unique point where, for the first time, dramatic innovation can occur with both the underlying technology model and how results are delivered to businesses. For developers this creates a market for their talents, lets them develop new skills with real world assignments and transition their careers to the cloud, learn from the work of others, and establish their street cred as skilled practitioner in the art and science of cloud development.">
  <title><%= title %></title>
  <link href='https://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
  <script type="text/javascript" src="/rotatingNotifications.js"></script>
  <link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />

  <script type="text/javascript">
  $(document).ready(function(){
    $('#wrapper').rotatingNotifications({changeInterval : 5000});	
	$(".fancy").fancybox({
		 'width' : 650,
		 'height' : 400,
		 'autoScale' : false,
		 'hideOnOverlayClick' : true,
		 'type' : 'iframe',
		 'onStart': function() { $('.column iframe').css('visibility', 'hidden'); },
		 'onClosed': function() { $('.column iframe').css('visibility', 'visible'); }
	 });
  });
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://cloudspokes.s3.amazonaws.com/favicon.ico" />
  <%= auto_discovery_link_tag :atom, "/feed" %>
  <%= auto_discovery_link_tag :rss, "/feed.rss" %>
<!-- start Mixpanel --><script type="text/javascript">var mpq=[];mpq.push(["init","b2f8f6ea498387f89802a573ddc97a02"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
</script><!-- end Mixpanel -->
<!-- start Google analytics -->
<script type="text/javascript">
 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-21388828-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
</script>
<!-- end Google analytics -->
</head>
<body id="<%= controller.controller_name %>_<%= controller.action_name %>" class="<%= controller.controller_name %>">
  <div id='wrapper'>
    <header id='top'>
      <h1 id='logo'><%= link_to "CloudSpokes", "/" %></h1>
      <nav id='menu'><ul>
        <li><%= link_to "Members", params[:community] ? community_members_path : members_path %></li>
        <li><%= link_to "Challenges", params[:community] ? community_challenges_path : challenges_path %></li>
        <li><%= link_to "Badges", "/badges" %></li>
        <% if current_user.nil? %>
			<li><%= link_to "Account", "/login_popup", :class => "fancy" %></li>
		<% else %>
			<li><%= link_to "Account", "/account" %></li>
		<% end %>
      </ul></nav>
      <nav id='side_menu'><ul>
        <li><%= link_to "Get Started", "/welcome2cloudspokes" %></li>
        <li><%= link_to "Blog", "http://blog.cloudspokes.com" %></li>
        <li><%= link_to "Help", "http://community.cloudspokes.com", :target => '_blank' %></li>
        <li><%= link_to "FAQ", "/faq", :target => '_blank' %></li>
        <% if current_user.nil? %>
			<li><%= link_to "Login", "/login_popup", :class => "fancy" %></li>
		<% else %>
			<li><%= link_to "Logout", "/logout" %></li>
			<li id='profile_pic'><a href="/account">
			<% if current_user.profile_pic.nil? %>
				<img src="https://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg" height="20" width="20" alt="<%= current_user.username %>" />
			<% else %>
				<img src="<%= current_user.profile_pic %>" height="20" width="20" alt="<%= current_user.username %>" />
			<% end %></a>
			</li>
		<% end %>
      </ul></nav>
    </header>
    <section id='content'>
      <%= yield %>
    </section>
    <footer id='bottom'>
      <aside class='left'>
        <span class='attribution'>created by <%= link_to "Appirio", "http://www.appirio.com" %></span>
        <nav class='social_links'><ul>
          <li><%= link_to s3_image("icon-digg.gif"),       "http://digg.com/CloudSpokes", target: '_blank' %></li>
          <li><%= link_to s3_image("icon-technorati.gif"), "http://technorati.com/people/cloudspokes", target: '_blank' %></li>
          <li><%= link_to s3_image("icon-twitter.gif"),    "http://twitter.com/cloudspokes", target: '_blank' %></li>
          <li><%= link_to s3_image("icon-facebook.gif"),   "http://www.facebook.com/CloudSpokes", target: '_blank' %></li>
        </ul></nav>
      </aside>
      <nav class='right'><ul>
        <li><%= link_to "Privacy", "/privacy" %></li>
        <li><%= link_to "Terms", "/tos" %></li>
      </ul></nav>
    </footer>
  </div>
  <% unless current_user.nil? %>
    <% FastPass.domain = "community.cloudspokes.com" %>
    <%= FastPass.script("7u8gnzd0entb", "wzyi2cwb0c29y4obpe8rspux4crh6tkg", current_user.email, current_user.username, current_user.username).html_safe %>
  <% end %>
  <% unless params[:controller] == 'challenges' %>
    <div id="getsat-widget-758"></div>
    <script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
    <script type="text/javascript">
    if (typeof GSFN !== "undefined") { GSFN.loadWidget(758,{"containerId":"getsat-widget-758"}); }
    </script>
  <% end %>
  <%= debug(current_user.username) if Rails.env.development? && !current_user.nil? %>
  <%= debug(params) if Rails.env.development? %>  
</body>
</html>
