<!DOCTYPE html>
<html>
<head>
  <title>CloudSpokes</title>
  <link href='http://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />

<script type="text/javascript">
$(document).ready(function(){
	$(".fancy").fancybox({
		 'width' : 650,
		 'height' : 400,
		 'autoScale' : false,
		 'hideOnOverlayClick' : true,
		 'type' : 'iframe',
		 'onStart': function() { $('.column iframe').css('visibility', 'hidden'); },
		 'onClosed': function() { $('.column iframe').css('visibility', 'visible'); }
	 });
});
</script>
</head>
<body id="<%= controller.controller_name %>_<%= controller.action_name %>" class="<%= controller.controller_name %>">
  <div id='wrapper'>
    <header id='top'>
      <h1 id='logo'><%= link_to "CloudSpokes", "/" %></h1>
      <nav id='menu'><ul>
        <li><%= link_to "Members", members_path %></li>
        <li><%= link_to "Challenges", "/challenges" %></li>
        <li><%= link_to "Badges", "/badges" %></li>
        <% if current_user.nil? %>
			<li><%= link_to "Account", "/login_popup", :class => "fancy" %></li>
		<% else %>
			<li><%= link_to "Account", "/account" %></li>
		<% end %>
      </ul></nav>
      <nav id='side_menu'><ul>
        <li><%= link_to "How it Works", "/about" %></li>
        <li><%= link_to "Blog", "http://blog.cloudspokes.com/" %></li>
        <li><%= link_to "FAQ", "/faq" %></li>
        <% if current_user.nil? %>
			<li><%= link_to "Login", "/login_popup", :class => "fancy" %></li>
		<% else %>
			<li><%= link_to "Logout", "/logout" %></li>
		<% end %>
      </ul></nav>
    </header>
    <section id='content'>
      <%= yield %>
    </section>
    <footer id='bottom'>
      <aside class='left'>
        <span class='attribution'>created by <%= link_to "Appirio", "http://www.appirio.com" %></span>
        <nav class='social_links'><ul>
          <li><%= link_to s3_image("icon-digg.gif"),       "http://digg.com/CloudSpokes", target: '_blank' %></li>
          <li><%= link_to s3_image("icon-technorati.gif"), "http://technorati.com/people/cloudspokes", target: '_blank' %></li>
          <li><%= link_to s3_image("icon-twitter.gif"),    "http://twitter.com/cloudspokes", target: '_blank' %></li>
          <li><%= link_to s3_image("icon-facebook.gif"),   "http://www.facebook.com/CloudSpokes", target: '_blank' %></li>
        </ul></nav>
      </aside>
      <nav class='right'><ul>
        <li><%= link_to "Privacy", "/privacy" %></li>
        <li><%= link_to "Terms", "/tos" %></li>
      </ul></nav>
    </footer>
  </div>
  <%= debug(current_user.username) if Rails.env.development? && !current_user.nil? %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
