%div
  .box
    .box-b
      .box-t
        .col-left.fl
          %h4
            %a{:href => challenge_url(challenge["challenge_id"])}= challenge["name"]
          %p= "#{truncate(challenge["description"].gsub(/<\/?[^>]*>/, ""), :length => 300, :separator => ' ')}"
        .col-right.fr
          %p
            %strong= member_challenge_place(challenge['challenge_participants__r']['records'].first['place'])
            %br
            = "$#{challenge['challenge_participants__r']['records'].first['money_awarded'].round} for"
            %br
            %span
              = member_category_display(challenge["challenge_categories__r"])
            %br
        .cl  
