%div
  .box
    .box-b
      .box-t
        .col-left.fl
          %h4
            %a{:href => challenge_url(challenge["Challenge_Id__c"])}= challenge["Name"]
          %p= "#{truncate(challenge["Description__c"].gsub(/<\/?[^>]*>/, ""), :length => 300, :separator => ' ')}"
        .col-right.fr
          %p
            %strong= challenge['Challenge_Participants__r']['records'].first['Place__c']
            %br
            = "$#{challenge['Challenge_Participants__r']['records'].first['Money_Awarded__c'].round} for"
            %br
            %span
              = member_category_display(challenge["Challenge_Categories__r"])
            %br
        .cl  
