.sidebar.fr
  .profile
    %img.fl{:width => "100px", :height => "100px", :src =>  @member["Profile_Pic__c"]}
    .profile-info.fl
      %h4
        %span= @member["Name"]
      %span= @member["Country__c"]
    .cl= " "
    %p
      - if !@member["Summary_Bio__c"].nil?
        %strong About me :
        %span= @member["Summary_Bio__c"]
      - if !@member["Quote__c"].nil?
        %br
        %br
        %strong Quote :
        %span= @member["Quote__c"]
    .actions
      %ul
        %li.recommend
          - if signed_in?
            %a{:href => recommend_member_url} Recommend
          - else
            %a{:href => login_popup_path, :class => 'fancy'} Recommend
      .cl
  %a{:href => "#"}
    %h3 Stats & Achievements
  .stats
    %ul
      %li
        = @member["Total_1st_Place__c"]
        %strong # of 1st Places
      %li
        = @member["Total_2nd_Place__c"]
        %strong # of 2nd Places
      %li
        = @member["Total_3st_Place__c"]
        %strong # of 3rd Places
      %li
        = @member["Challenges_Entered__c"]
        %strong Contests Entered
      %li
        = @member["Total_Points__c"]
        %strong Total Points
      %li
        = number_to_currency(@member["Total_Public_Money__c"], :precision => 0)
        %strong Total Money
  .achievements

  %h3 Social
  .socials
    %ul
      - "Twitter__c,LinkedIn__c,Facebook__c,Github__c".split(',').each do |social|
        - if @member[social]
          %li
            - if social.eql?('Twitter__c')
              %a{:href => 'http://www.twitter.com/' + @member[social], :target => "_blank"}
                = image_tag social[0..-4].downcase + ".gif"
            - elsif social.eql?('Github__c')
              %a{:href => 'http://www.github.com/' + @member[social], :target => "_blank"}
                = image_tag social[0..-4].downcase + ".gif"
            - else
              %a{:href => @member[social], :target => "_blank"}
                = image_tag social[0..-4].downcase + ".gif"
  .cl
  - if @member["Website__c"]
    .website
      %strong Website :
      %a{:href => @member["Website__c"], :target => "_blank"}
        = @member["Website__c"]

  %br
  %h3 Share
  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style ">
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
  <a class="addthis_button_preferred_3"></a>
  <a class="addthis_button_preferred_4"></a>
  <a class="addthis_button_compact"></a>
  <a class="addthis_counter addthis_bubble_style"></a>
  </div>
  <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ee9c6ae01a87600"></script>
  <!-- AddThis Button END -->
