.sidebar.fr
  .profile
    %span
      = render "badgeProfile"
      %h3= @member["country"]
    .cl= " "
    %p
      - if !@member["summary_bio"].nil?
        %strong About me :
        %span= @member["summary_bio"]
      - if !@member["quote"].nil?
        %br
        %br
        %strong Quote :
        %span= @member["quote"]
    .actions
      %ul
        %li.message
          - if signed_in?
            %a{:href => messages_url + "?to=#{@member["name"]}"} Message
          - else
            %a{:href => login_popup_path, :class => 'fancy'} Message
        %li.recommend
          - if signed_in?
            %a{:href => recommend_member_url} Recommend
          - else
            %a{:href => login_popup_path, :class => 'fancy'} Recommend
      .cl
  %a{:href => "#"}
    %h3 Stats & Achievements
  .stats
    %ul
      %li
        = @member["total_1st_place"]
        %strong # of 1st Places
      %li
        = @member["total_2nd_place"]
        %strong # of 2nd Places
      %li
        = @member["total_3st_place"]
        %strong # of 3rd Places
      %li
        = @member["challenges_entered"]
        %strong Contests Entered
      %li
        = @member["total_points"]
        %strong Total Points
      %li
        = number_to_currency(@member["total_public_money"], :precision => 0)
        %strong Total Money
  .achievements

  %h3 Social
  .socials
    %ul
      - "twitter,linkedin,facebook,github".split(',').each do |social|
        - if @member[social]
          %li
            - if social.eql?('twitter')
              %a{:href => 'http://www.twitter.com/' + @member[social], :target => "_blank"}
                = image_tag social.downcase + ".gif"
            - elsif social.eql?('github')
              %a{:href => 'http://www.github.com/' + @member[social], :target => "_blank"}
                = image_tag social.downcase + ".gif"
            - else
              %a{:href => @member[social], :target => "_blank"}
                = image_tag social.downcase + ".gif"
  .cl
  - if @member["website"]
    .website
      %strong Website :
      %a{:href => @member["website"], :target => "_blank"}
        = @member["website"]

  %br
  %h3 Share
  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style ">
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
  <a class="addthis_button_preferred_3"></a>
  <a class="addthis_button_preferred_4"></a>
  <a class="addthis_button_compact"></a>
  <a class="addthis_counter addthis_bubble_style"></a>
  </div>
  <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4ee9c6ae01a87600"></script>
  <!-- AddThis Button END -->
