.content-wrapper.two-cols-bg
  .widecolumn.fl
    %p= link_to "Back", member_path
    = flash_messages
    .list-challenges
      %h3= pluralize(@active_challenges.size, "active challenge")
      - if @active_challenges.count == 0
        %div{:style => "text-align:center"}
          %b No active challenge found
      - @active_challenges.each do |active_challenge|
        = render "challenge", :challenge => active_challenge

  = render "member-sidebar-badgeville"