<div class='content-wrapper two-cols-bg'>
  <div class='widecolumn fl'>
    <p><%= link_to 'Back', member_path %></p>
	<%= flash_messages %>
	<% if flash[:error].nil? %>
		<div class="post-submission">
		    <h3>Post A Recommendation</h3>
		    <fieldset>
			<%= form_for :recommendation, :url => recommend_member_new_path do |f| %>
				<div class="holder">
				<%= f.text_area( :comments )  %>
				</div>
				<a class="button fl" onclick="document.forms[0].submit();"> <span>Post</span></a>
			<% end %>
		    </fieldset>
		</div>
	<% end %>
	</dif>
  </div>

<div class="bv_playerProfile" bv_options='{"showActivities":true,"showRewards":true}' style=""></div>
  <script>
    window.BadgevilleAsynchInit = function() {
      Badgeville.extend( Badgeville.Settings, {
        key: 'c9ba95594b056538ec1aada661dfadb8',
        domain: 'appirio.com'
        // Add other Badgeville.Settings changes

      });
      // Call Badgeville.setPlayer, bind to events, configure Badgeville.Defaults, etc.

      Badgeville.setPlayer({
 		email: 'kathi@appirio.com.full'}
	  );

      Badgeville.ready(function() {
        // Display any Gears or other chores that require Badgeville to be initialized
        
      });
    };
    (function() {
      var s = document.createElement( 'script' );
      s.async = true;
      s.src =  'http://sandbox.v2.badgeville.com/v3/badgeville-current.js';
      document.body.appendChild( s );
    }());
  </script>

<%= render "member-sidebar" %>
