.content-wrapper.two-cols-bg
  .widecolumn.fl
    %p=link_to "Back", member_path
    .post-comment
      %h3 Recommend #{@member["Name"]}
      %fieldset
      - if signed_in?
        %p Please fill this out
        - form_for :discussion, :url => '/members' do |f|
          %p 
            %label{:for => "name"} Name
            = f.text_field :name
          %p
            = submit_tag 'New'
        %p I am done!!
      - else
        %p= link_to "You must login to recommend a user.", login_url



  = render "member-sidebar"


