%div
  .box
    .box-b
      .box-t
        .col-left.fl
          %h4
            %a{:href => challenge_url(challenge["Challenge_Id__c"])}= challenge["Name"]
          %p= "#{truncate(challenge["Description__c"].gsub(/<\/?[^>]*>/, ""), :length => 300, :separator => ' ')}"
        .col-right.fr
          %p
            %strong= challenge['Challenge_Participants__r']['records'].first['Status__c']
            %br
            = "#{challenge['Top_Prize__c']} for"
            %br
            %span
              - challenge["Challenge_Categories__r"]["records"].each do |category|
                %span{:class =>category["Category__r"]["Name"]}= category["Category__r"]["Name"]
            %br
            %br 
            - if type.eql?('watching')
              = link_to('Register' , challenge_url(challenge["Challenge_Id__c"]))
              %br
              = format_close_date_time(challenge['End_Date__c'])
            - elsif type.eql?('active')
              = link_to('Submit' , '/challenges/'+challenge['Challenge_Id__c']+'/submission')
              %br
              = format_close_date_time(challenge['End_Date__c'])
        .cl  
