%div
  .box
    .box-b
      .box-t
        .col-left.fl
          %h4
            %a{:href => challenge_url(challenge["challenge_id"])}= challenge["name"]
          %p= "#{truncate(challenge["description"].gsub(/<\/?[^>]*>/, ""), :length => 300, :separator => ' ')}"
        .col-right.fr
          %p
            %strong= challenge['challenge_participants__r']['records'].first['status']
            %br
            = "#{number_to_currency(challenge["total_prize_money"], :precision => 0)} for"
            %br
            %span
              - challenge["challenge_categories__r"]["records"].each do |category|
                %span{:class =>category["category__r"]["name"]}= category["category__r"]["name"]
            %br
            %br 
            - if type.eql?('watching')
              = link_to('Register' , challenge_url(challenge["challenge_id"]))
              %br
              = format_close_date_time(challenge['end_date'])
            - elsif type.eql?('active')
              = link_to('Submit' , '/challenges/'+challenge['challenge_id']+'/submission')
              %br
              = format_close_date_time(challenge['end_date'])
        .cl  
