%div
  .box
    .box-b
      .box-t
        .col-left.fl
          %span.checkbox
            %input{:type => "checkbox"}
          %h4
            %a{:href => "#"}
              = challenge["Name"]
          .cl= " "
          %p= challenge["Description__c"]
        .col-right.fr
          %p
            = "$#{challenge['Challenge_Participants__r']['records'].first['Money_Awarded__c'].to_i} for"
            %span
              - challenge["Challenge_Categories__r"]["records"].each do |category|
                %span{:class =>category["Category__r"]["Name"]}= category["Category__r"]["Name"]
            %br
            %span
              - due_date = ((challenge["End_Date__c"].to_time - Time.now)/86400).round
              = "due in #{due_date} days" if due_date > 0
            %br
            %a{:href => "#"}
              x registered participants
            %strong= challenge['Challenge_Participants__r']['records'].first['Status__c']
            %br
        .cl  
