%div
  .box
    .box-b
      .box-t
        .col-left.fl
          %h4
            %a{:href => community_url(community["community_id"])}= community["name"]
          %p= "#{raw(truncate(community["about"].gsub(/<\/?[^>]*>/, ""), :length => 400, :separator => ' '))}"
        .col-right.fr
          %p
            = "#{community["members"].to_i} members"
        .cl  
