.content-wrapper.left-sidebar.top-border
  #account
    .sidebar.fl
      = render 'menu', :selected_item => "account_details"

    .widecolumn.fr
      #account
        %h3 Account details
        = flash_messages
        %p
          Sometimes we need to send you stuff. Like award money. So keep your contact info up to date so we can get in touch! We promise to never ever use your information for evil (unless we have your permission).
        .cl
        = form_tag("/account/details", :name => "form_details")
        %label
          First Name:
        %input.txt{:maxlength => 100, :name => "form_details[first_name__c]", :value => @account["First_Name__c"]}
        %label
          Username:
        %div{:style => "padding-top:6px;"}
          %span.Uname
            = @account["Name"]
        .cl
        %label
          Last Name:
        %input.txt{:maxlength => 100, :name => "form_details[last_name__c]", :value => @account["Last_Name__c"]}
        %label
          %span.required *
          Email Address:
        %input.txt{:maxlength => 250, :name => "form_details[email__c]", :value => @account["Email__c"], :style => 'width:250px'}
        .cl
        %hr{:style => 'margin: 10px'}
        %label
          Address:
        %input.field{:maxlength => 100, :name => "form_details[address_line1__c]", :value => @account["Address_Line1__c"]}
        .cl
        %label
          Address:
        %input.field{:maxlength => 100, :name => "form_details[address_line2__c]", :value => @account["Address_Line2__c"]}
        .cl
        %label
          City:
        %input.txt{:maxlength => 15, :name => "form_details[city__c]", :value => @account["City__c"]}
        %label.sm
          State:
        %input.txt{:maxlength => 150, :name => "form_details[state__c]", :value => @account["State__c"]}
        %label.sm
          Zip:
        %input.txt{:maxlength => 11, :name => "form_details[zip__c]", :value => @account["Zip__c"]}
        .cl
        %label
          Country:
        = country_select(:form_details, :country__c,  @account["Country__c"] =>  @account["Country__c"] )
        .cl
        %div{:style => 'margin:10px'}
        %label
          Phone:
        %input.txt{:maxlength => 15, :name => "form_details[phone_mobile__c]", :value => @account["Phone_Mobile__c"]}
        .cl
        %label
          Time Zone:
        = time_zone_select(:form_details, :time_zone__c, nil, :default => @account["Time_Zone__c"])
        .cl
        %br
        #button-container
          %a.button{:href => "#", :onclick => "document['form_details'].submit()"}
            %span Submit




