= stylesheet_link_tag 'member'
= stylesheet_link_tag 'members'

.content-wrapper.left-sidebar.top-border
  #account
    .sidebar.fl
      = render 'menu', :selected_item => "account_details"

    .widecolumn.fr
      #account
        %h3 Account details
        %p
          Sometimes we need to send you stuff. Like award money. So keep your contact info up to date so we can get in touch! We promise to never ever use your informations for evil (unless we have your permission).
        .cl
        = form_tag("/account/details", :name => "form_details")
        %label
          %span.required *
          First Name:
        %input.txt{:maxlength => 100, :name => "form_details[first_name__c]", :value => @account["First_Name__c"]}
        %label
          Username:
        %div{:style => "padding-top:6px;"}
          %span.Uname
            = @account["Name"]
        .cl
        %label
          Last Name:
        %input.txt{:maxlength => 100, :name => "form_details[last_name__c]", :value => @account["Last_Name__c"]}
        %label
          %span.required *
          Email Address:
        %input.txt{:maxlength => 250, :name => "form_details[email__c]", :value => @account["Email__c"]}
        .cl
        %hr
        %label
          %span.required *
          Address:
        %input.field{:maxlength => 100, :name => "form_details[address_line1__c]", :value => @account["Address_Line1__c"]}
        .cl
        %label
          %span.required *
          Address 2:
        %input.field{:maxlength => 100, :name => "form_details[address_line2__c]", :value => @account["Address_Line2__c"]}
        .cl
        %label
          %span.required *
          City:
        %input.txt{:maxlength => 15, :name => "form_details[city__c]", :value => @account["City__c"]}
        %label.sm
          %span.required *
          State:
        %input.txt{:maxlength => 150, :name => "form_details[state__c]", :value => @account["State__c"]}
        %label.sm
          %span.required *
          Zip:
        %input.txt{:maxlength => 11, :name => "form_details[zip__c]", :value => @account["Zip__c"]}
        .cl
        %label
          %span.required *
          Country:
        = country_select(:form_details, :country__c,  @account["Country__c"] =>  @account["Country__c"]  )
        .cl
        %label
          %span.required *
          Main Phone:
        %input.txt{:maxlength => 15, :name => "form_details[phone_mobile__c]", :value => @account["Phone_Mobile__c"]}
        .cl
        %label
          %span.required *
          Time Zone:
        = time_zone_select(:form_details, :time_zone__c, nil, :default => @account["Time_Zone__c"])
        .cl
        %br
        #button-right.buttons
          %a.button{:href => "#", :onclick => "document['form_details'].submit()"}
            %span Submit
          %a.button{:href => "/account/a0GU0000000c8xiMAA/details"}
            %span Cancel




