<div class="content-wrapper left-sidebar top-border">
	<div id="account">
		<div class="sidebar fl">
      	<%= render 'menu', :selected_item => "change_password"%>
		</div>
		<div class="widecolumn fr">
	        <h3>Reset your password</h3>
	
	        <p>Use the passcode in the email being sent to you to reset your password below.</p>	
	
			<%= flash_messages %>
			<% if @reset_form.errors.any? %>
				<div class="error" id="flash-error">
			    <% @reset_form.errors.full_messages.each do |msg| %>  
			      <li><%= msg %></li>  
			    <% end %>
				</div>
			<% end %>

			<div id="profile" style="padding-top: 25px">
				
				<%= form_for @reset_form,  :url => password_reset_path do |f| %>
			
				<label style="width:150px">Passcode:</label>
				<%= f.text_field :passcode, :class => 'display' %>
				<div class="spacer" style="width: 500px"></div>
			
				<label style="width:150px">Password:</label>
				<%= f.password_field :password, :class => 'display' %>
				<div class="hint" style="padding-left:175px">8 characters with letters & numbers</div>
				<div class="spacer" style="width: 500px"></div>
			
				<label style="width:150px">Password confirmation:</label>
				<%= f.password_field :password_confirmation, :class => 'display' %>
				<div class="spacer" style="width: 500px"></div>

				<% end %>

				<div id="button-container" style="padding-left:55px">
					<a class="button" onclick="document.forms[0].submit();"> <span>Submit</span></a>
				</div>
			
			</div>			
			
			
		</div>

	</div>
</div>