<div class='page'>
  <h1 id='heading'>Reset Your Password</h1>

<p>Use the passcode in the email being sent to you to reset your password below.</p>

<%= form_for @reset_form,  :url => reset_password_url do |f| %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :passcode %><br />
    <%= f.text_field :passcode %>
  </div>
  <div class="field">
    <%= f.label :new_password %><br />
    <%= f.password_field :new_password %>
  </div>
  <div class="field">
    <%= f.label :new_password_again %><br />
    <%= f.password_field :new_password_again %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

</div>
