<div class="content-wrapper left-sidebar top-border">
	<div id="account">
		<div class="sidebar fl">
      	<%= render 'menu', :selected_item => "my_referrals"%>
		</div>
		<div class="widecolumn fr">

			<h3>Referred CloudSpokes Members</h3>
			<p>Here are the CloudSpokes members that you have personally referred. Every time that someone you referred wins money, so will you! During their first year, you'll earn 10% of all money that your friends win competing in CloudSpokes challenges. So if a friend wins $1000 in a coding challenge, we'll give you an additional $100.</p>

			<p><%= link_to "Invite your friends to join CloudSpokes!", invite_path, :style => 'font-size:12pt' %></p>
				
			<% unless @referrals.empty? %>

				<table class="fancytable" style="width:100%">
				    <thead>
				    	<tr>
							<th scope="col" colspan="2">Member</th>
				      <th scope="col">Joined</th>
							<th scope="col">Money Won</th>
							<th scope="col">Your Referral Bonus</th>
				        </tr>
				    </thead>
				    <tbody>
						<% @referrals.each do |record| %>
				    	<tr>
							<td width="30">
									<%= link_to image_tag(record["profile_pic"], :width => 35, :height => 35), member_path(record["membername"]) %></td>
					    <td><%= link_to record["membername"], member_path(record["membername"]) %></td>
							<td><%= Time.parse(record["signup_date"]).strftime("%b. %d, %Y") %></td>
							<td><%= number_to_currency(record["first_year_money"], :precision => 0) %></td>
							<td><%= number_to_currency(record["referral_money"], :precision => 0) %></td>
				      </tr>
						<% end %>
				    </tbody>
				</table>
			
			<% else %>
				<p style="padding-bottom:35px">
					<img src="http://static3.businessinsider.com/image/4d93481149e2ae9951800000/dropbox-referral.jpg" width="250" style="float:left">
					<div style="padding-top:25px;font-weight:bold">No referrals yet. Go invite your friends!</div></p>
			<% end %>

		</div>

	</div>
</div>