.content-wrapper.left-sidebar.top-border
  #account
    .sidebar.fl
      = render 'menu', :selected_item => "school_work_info"

    .widecolumn.fr
      #account
        %h3 School & Work info
        = flash_messages
        %p
          Please consider filling out your school and work information. We will not reveal your information outside of CloudSpokes, but the additional demographic information is helpful when getting companies to post jobs to our job boards.
        .cl
        = form_tag("/account/school", :name => "form_school")
        %label.large
          Company:
        %input.txt.large{:maxlength => 180, :name => "form_school[company__c]", :value => @account["company"]}
        .cl
        %label.large
          School/University:
        %input.txt.large{:maxlength => 180, :name => "form_school[school__c]", :value => @account["school"]}
        .cl
        %label.large
          Years of Experience:
        %input.txtsm{:maxlength => 100, :name => "form_school[years_of_experience__c]", :value => @account["years_of_experience"]}
        %label
        .cl
        %label.large
          Work Status:
        = select_tag("form_school[work_status__c]", options_for_select(work_options, @account["work_status"]) )
        .cl
        %label.large
          Shirt Size:
        = select_tag("form_school[shirt_size__c]", options_for_select(shirt_size_options, @account["shirt_size"]) )
        .cl
        %label.large
          Age Range:
        = select_tag("form_school[age_range__c]", options_for_select(age_range_options, @account["age_range"]) )
        .cl
        %label.large
          Gender:
        = select_tag("form_school[gender__c]", options_for_select(gender_options, @account["gender"]) )
        .cl
        %br
        #button-container
          %a.button{:href => "#", :onclick => "document['form_school'].submit()"}
            %span Submit




